<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0,minimal-ui,viewport-fit=cover"
    />
	<title> <%= faceswapTermsOfService.title %></title>
	<meta name="description" content="<%= faceswapTermsOfService.description %>" />
	<link rel="canonical" href="https://www.vidqu.ai/faceswap-terms-of-service.html">
	<link rel="stylesheet" href="/dist/css/common.css">
	<link rel="stylesheet" href="/dist/css/faceswap-terms-of-service.css">
	<link rel="alternate" hreflang="en" href="https://www.vidqu.ai/faceswap-terms-of-service.html" />
	<link rel="alternate" hreflang="x-default" href="https://www.vidqu.ai/faceswap-terms-of-service.html" />
    <%- include('../patiles/head'); -%>
</head>

<body>
	<%- include('../patiles/header'); -%>
	<div class="faceswap-terms-of-service-wrapper">
		<h1>Terms of Service</h1>
		<h4>Acceptance</h4>
		<p>Vidqu FaceSwap provides services and products on this application, subject to the following terms and conditions. You should read the Terms of Service (“TOS”) carefully before using this Application and the Services and Products available to you on this application. By accessing or using the Application, the Services, and the Products (collectively, “Services”), you agree to be bound by these terms and conditions. If you do not agree with or accept any of these terms, you should cease accessing or using the Services immediately.</p>
		<h4>Modification</h4>
        <p>Vidqu FaceSwap reserves the right to update these terms and conditions, and the information, the products, and the services mentioned at any time, at its sole discretion, without prior notice. The most recent version of the TOS can be reviewed by clicking on the “Terms of Service” hypertext link.</p>
        <h4>Privacy Policy</h4>
        <p>Vidqu FaceSwap is committed to protecting your privacy all the time. Your use of the Services is also subject to Vidqu FaceSwap's Privacy Policy (the “Privacy Policy”), which is incorporated by reference and made a part of the TOS. It is important that you read and understand the terms of our Privacy Policy.</p>
        <h4>Account Registration</h4>
        <p>Vidqu FaceSwap provides different Services to you via the application and the Vidqu FaceSwap products. Services are available to you upon registration. You agree to provide truthful and accurate account information, including but not limited to a valid email address and password (collectively, your “Account Information”).</p>
        <p>By creating or registering an account for using our Services, you represent that you are at least eighteen (18) years of age or that you are a valid legal entity, and that the registration information you have provided is accurate and complete.</p>
        <p>You understand that it is your obligation to keep the details of your Vidqu FaceSwap Account Information confidential. All activity under your account is your responsibility. If you ever discover or suspect that someone has accessed your account without your permission, please notify us at <a href="mailto:support@vidqu.ai">support@vidqu.ai</a> as soon as possible so that we can revoke your account and replace it with a new one.</p>
        <p>You may not use as a username the name of another person or entity that is not lawfully available for use or a name or trademark that is subject to any rights of another person or entity other than you, without appropriate authorization. You may not use as a username any name that is offensive, vulgar, or obscene.</p>
        <h4>Product Description</h4>
        <p>We endeavor to describe and display the Application and Service as accurately as possible. While we try to be as clear as possible in explaining the Service, we do not guarantee that the Application is entirely accurate, current, or error-free. From time to time, we may correct errors in pricing and descriptions. We reserve the right to refuse or cancel any order with an incorrect price listing.</p>
        <h4>Use License</h4>
        <p>This is the grant of a license, not a transfer of title, and under this license, you may not:
        </br>
        1. Attempt to decompile or reverse engineer any Application contained on VIDQU AI's pages;
        </br>
        2. Remove any copyright or other proprietary notations from the materials;
        </br>
        This license shall automatically terminate if you violate any of these restrictions and may be terminated by VIDQU at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession, whether in electronic or printed format.
        </p>
        <h4>Restrictions on Use</h4>
        <p>This Application may be accessed from all around the world, so it is your responsibility to assess whether using the Website, products, or services is in compliance with your local laws and regulations. Whenever you use the application, products, or services, you must comply with these terms and conditions, applicable laws, regulations, and policies. Vidqu FaceSwap reserves the right to seek all remedies available by law and in equity for any violation of these terms and conditions.</p>
        <p>You understand that the Services on the Application should not be misused. Vidqu FaceSwap may take appropriate measures to protect the Services from being misused or used to harm someone.</p>
        <p>As a condition of your use of this Application and any of the Services, you agree not to:</p>
        <ul>
            <li>Use the Application for any purpose that is illegal under applicable law or banned by the terms and conditions of the TOS;</li>
            <li>Defame or disparage any other person, both legal and physical, or make obscene, derogatory, or offensive comments, or otherwise use this Application and/or the Services or their content in a way that brings Vidqu FaceSwap or any third party into disrepute or makes Vidqu FaceSwap liable to any third party;</li>
            <li>Download, post, reproduce, share, store, or distribute pornographic, obscene, or sexually explicit information, or anything that contains links to adult websites.</li>
            <li>Download, post, reproduce, share, store, or distribute content that is derogatory or malicious, such as references to or commentary on racial, sexual, or gender identity or expression, national or ethnic origin, or other specific groups.</li>
            <li>Send, share, or distribute anything that is excessively repetitious, unwelcome, uninvited, or constitutes 'spam' or bulk commercial email.</li>
            <li>Send, post, or transmit over the Services any illegal, hateful, threatening, insulting, or defamatory content.</li>
            <li>Send, post, or transmit over the Services any content which infringes on intellectual property rights; invades privacy; or incites violence.</li>
            <li>Download, upload, post, reproduce, or distribute any content protected by copyright or any other proprietary right without the owner of the proprietary content’s permission.</li>
            <li>Create derivative works from, or exploit in any way, this Application and/or the Services or their content.</li>
            <li>Use this Application and/or the Services to distribute viruses or malware or other similar harmful software code.</li>
            <li>Attempt to access, probe, or connect to computing devices without proper authorization (i.e., any form of “hacking”).</li>
            <li>Attempt to compile, utilize, or distribute a list of IP addresses operated by Vidqu FaceSwap in conjunction with the Services.</li>
            <li>Act in any manner that could damage, disable, overburden, or impair any Vidqu FaceSwap server, or the networks connected to any Vidqu FaceSwap server, or interfere with any other party’s use and enjoyment of this Website and the Services.</li>
            <li>Attempt to gain unauthorized access to this Website and/or any Services, other accounts, computer systems or networks connected to any Vidqu FaceSwap server or to any Web Properties and/or Services, through hacking, password mining or any other means.</li>
            <li>Circumvent storage space restrictions.</li>
            <li>Use the Services as the infrastructure for your own cloud service or as a backup for your own cloud service.</li>
            <li>Use the storage space provided by the Services as the basis for encrypted space, storage, or any similar proof system.</li>
            <li>Vidqu FaceSwap reserves the right, at its sole discretion, to respond to violations of these Terms by taking appropriate action, which may include removing or blocking access to the content stored via our Services, suspending a user's usage of the Services, or terminating an account without prior notification.</li>
        </ul>
        <h4>Confidentiality</h4>
        <p>Any information concerning the Client and their respective Client Records may be passed to third parties. However, Client records are regarded as confidential and, therefore will not be divulged to any third party other than our employees and, if legally required to do so to the appropriate authorities. Clients have the right to request sight of and copies of any and all Client Records we keep on the provision that we are given reasonable notice of such a request. Clients are requested to retain copies of any literature issued in relation to the provision of our services. Where appropriate, we shall issue the Client with appropriate written information, handouts, or copies of records as part of an agreed contract for the benefit of both parties. We provide you with an option to view all your information held by us at your request.</p>
        <p>We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by this Company will only be in connection with the provision of agreed services and products.</p>
        <h4>Deletion of offending accounts</h4>
        <p>It is forbidden to upload, record, generate, and share pornographic, violent and other illegal content. We will permanently block your account once we find it.</p>
        <h4>Digital Millennium Copyright Act</h4>
        <p>We respect the intellectual property rights of everyone and expect our customers to do the same. In accordance with the Digital Millennium Copyright Act of 1998, the details of which can be found on the U.S. Copyright Office website at <a target="_blank" href="https://www.copyright.gov/legislation/dmca.pdf">https://www.copyright.gov/legislation/dmca.pdf</a>, We will seriously respond to claims of copyright infringement committed using the Vidqu FaceSwap Services if such claims are reported to us. We also reserve the right to take actions, in appropriate circumstances, to block or limit access to our Services, remove or disable content alleged to be infringing, and terminate accounts of users who infringe any intellectual property rights of others. If you believe that any content uploaded or made available on our platform infringes upon any copyright which you own or control, please send a notice to <a href="mailto:support@vidqu.ai">support@vidqu.ai</a> with the information required below.</p>
        <ol>
            <li>1. Your full legal name and your physical or electronic signature.</li>
            <li>2. Identify of the copyrighted work that you believe to have been infringed, or provide a representative list of the copyrighted works if multiple works are involved.</li>
            <li>3. Identify the material or link or the precise location you believe to be infringing so that we can find the material.</li>
            <li>4. Provide your email address so that we can contact you when needed.</li>
            <li>5. Include both of the following statements in the body of the Notice:
            </br>“I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent or the law (e.g. as a fair use)”.
            </br>“I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of, the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed.”
            </br>If you fail to provide all the requested information above, your DMCA notice may not be effective.”
            </li>
        </ol>
        <p>Please be aware that you may be held legally responsible for any damages (including costs and attorneys' fees) under Section 512(f) of the DMCA if you intentionally misrepresent that content or activity is infringing your copyright.</p>
        <h4>Payment Terms</h4>
        <p>Generally, Vidqu FaceSwap may offer products and services for purchase on the App (“In-App Purchase”). If you choose to make an In-App Purchase, you acknowledge and agree that additional terms, disclosed to you at the point of purchase, may apply, and that such additional terms are incorporated herein by reference.</p>
        <p>You may make an In-App Purchase through the following payment methods (“Payment Method”): (a) making a purchase through a third-party platform such as the Apple App Store (“third-party Store”), or (b) paying with your credit card, debit card, or PayPal account, which will be processed by a third-party processor. Once you have made an In-App Purchase, you authorize us to charge your chosen Payment Method. If payment is not received by us from your chosen Payment Method, you agree to promptly pay all amounts due upon demand by us.</p>
        <p> Subscriptions and Auto-Renewal: First of all, for any subscription plans, every Apple ID can make a purchase only once. Vidqu FaceSwap may offer some services as automatically-renewing subscriptions(“Premium Services”). IF YOU PURCHASE AN AUTOMATICALLY RENEWING SUBSCRIPTION, YOUR SUBSCRIPTION WILL RENEW AT THE END OF THE PERIOD, UNLESS YOU CANCEL, AT Vidqu FaceSwap’S THEN-CURRENT PRICE FOR SUCH SUBSCRIPTIONS. To avoid charges for a new subscription period, you must cancel, as described below, before the end of the then-current subscription period. Deleting your account or deleting the application from your device does not cancel your subscription. You will be given notice of changes in the pricing of the Premium Services to which you have subscribed and an opportunity to cancel. If Vidqu FaceSwap changes these prices and you do not cancel your subscription, you agree that you will be charged at Vidqu FaceSwap’s then-current pricing for subscription.</p>
        <p>Canceling Subscriptions. If you purchased a subscription directly from Vidqu FaceSwap, you may cancel or change your Payment Method via the payment settings option under your profile. If you purchased a subscription through a third-party Store, such as the Apple App Store, you will need to access your account with that third-party Store and follow instructions to change or cancel your subscription. If you cancel your subscription, you may use your subscription until the end of the period you last paid for, but (i) you will not (except as set forth in the subsection entitled “Refunds” below) be eligible for a prorated refund, (ii)</p>
        <p>your subscription will not be renewed when that period expires and (iii) you will then no longer be able to use the Premium Services or In-App Purchases enabled by your subscription. </p>
        <p>Refunds. Generally, all charges for purchases are non-refundable, and there are no refunds or credits for partially used periods.</p>
        <p>You may cancel your subscription, without penalty or obligation, at any time before your subscription expires. In the event that you die before the end of your subscription period, your estate shall be entitled to a refund of that portion of any payment you had made for your subscription which is allocable to the period after your death. In the event that you become disabled (such that you are unable to use Vidqu FaceSwap before the end of your subscription period, you shall be entitled to a refund of that portion of the payment you had made for your subscription.</p>
        <p>To request a refund:</p>
        <p>For iOS Users:</p>
        <p>To request a refund, please go to iTunes, click on your Apple ID, select “Purchase history,” find the transaction and hit “Report Problem”. You can also submit a request at <a target="_blank" href="https://getsupport.apple.ai">https://getsupport.apple.com.</a></p>
        <h4>Log Files</h4>  
        <p>We use IP addresses to analyze trends, administer the application, track users’ movement, and gather broad demographic information for aggregate use. IP addresses are not linked to personally identifiable information. Additionally, for systems administration, detecting usage patterns, and troubleshooting purposes, our web servers automatically log standard access information, including browser type, access times/open mail, URL requested, and referral URL. This information is not shared with third parties and is used only within this Company on a need-to-know basis. Any individually identifiable information related to this data will never be used in any way different from that stated above without your explicit permission..</p>
        <h4>Intellectual Property</h4>
        <p>All content ('INFORMATION') on this application, including all the text, design, layout, software (including any source code), and other works are protected by copyright. The entire Content of our Application is protected by intellectual property law, including international copyright and trademark laws. You are prohibited from modifying, publishing, transmitting, participating in the transfer or sale of, creating derivative works from, distributing, displaying, reproducing, or performing, or in any way exploiting in any format whatsoever any of the Application or Service Content or intellectual property. Except as specifically permitted, no portion of this Application may be distributed or reproduced by any means, or in any form, without Vidqu FaceSwap’s prior written permission. Permission to use content may be granted on a case-by-case basis. For more information about obtaining permission, please contact us. We reserve the right to immediately remove you from the Service without refund or restrict you from access to the Application if you are caught violating this intellectual property policy..</p>
        <p>All products and services, including logo and words referred on this Application are trademarks or intellectual property right of Vidqu FaceSwap. The Vidqu.ai domain and its subdomains are owned and operated by Vidqu FaceSwap. Any rights not expressly granted herein are reserved.</p>
        <p>© 2024 Vidqu. All rights reserved.</p>
        <h5>“AS IS” BASIS</h5>
        <p>THE VIDQU FACESWAP APPLICATIONS AND THE SERVICES (INCLUDING ALL THEIR CONTENT) ARE PROVIDED TO YOU “AS IS.” THE DOWNLOAD OF THE VIDQU FACESWAP APPLICATIONS AND/OR ANY USE OF THE WEBSITE, THE VIDQU FACESWAP APPLICATIONS AND THE SERVICES ARE AT YOUR OWN DISCRETION AND RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGES TO YOUR HARDWARE DEVICE, LOSS OF DATA OR ANY OTHER LOSS THAT RESULTS FROM THE DOWNLOAD OF THE VIDQU FACESWAP APPLICATIONS AND/OR USE OF THE WEBSITE, THE VIDQU FACESWAP APPLICATIONS AND THE SERVICES. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, VIDQU AI DISCLAIMS ALL REPRESENTATIONS, WARRANTIES OR CONDITIONS, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, MERCHANTABLE QUALITY, DURABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON INFRINGEMENT. VIDQU FACESWAP MAKES NO REPRESENTATIONS, WARRANTIES OR GUARANTEES THAT THE WEBSITE, THE VIDQU FACESWAP APPLICATIONS AND THE SERVICES WILL BE FREE FROM LOSS, DESTRUCTION, DAMAGE, CORRUPTION, ATTACK, VIRUSES, INTERFERENCE, HACKING, OR OTHER SECURITY INTRUSION, AND VIDQU FACESWAP DISCLAIMS ANY LIABILITY RELATING THERETO. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSIONS AND LIMITATIONS MAY OR MAY NOT APPLY TO YOU.</p>
        <h5>WARRANTY DISCLAIMER</h5>
        <p>VIDQU FACESWAP MAKES NO REPRESENTATIONS, WARRANTIES OR GUARANTEES THAT THE USE OR THE RESULTS OF THE USE OF THE WEBSITE OR THE VIDQU FACESWAP APPLICATIONS AND THE PROVISION OF THE SERVICES ARE OR WILL BE ACCURATE, RELIABLE, CURRENT, UNINTERRUPTED OR ERROR-FREE. WITHOUT PRIOR NOTICE, VIDQU FACESWAP MAY MODIFY, SUSPEND, OR DISCONTINUE ANY ASPECT OR FEATURE OF THE WEBSITE, THE VIDQU FACESWAP APPLICATIONS AND/OR THE SERVICES OR YOUR USE OF THE WEBSITE, THE VIDQU FACESWAP APPLICATIONS AND/OR THE SERVICES. IF VIDQU FACESWAP ELECTS TO MODIFY, SUSPEND, OR DISCONTINUE ANY PART OF OR ALL OF THE WEBSITE, THE VIDQU AI APPLICATIONS AND/OR THE SERVICES, IT WILL NOT BE LIABLE TO YOU OR ANY THIRD PARTY.</p>
        <h5>YOUR INFORMATION</h5>
        <p>YOU ACKNOWLEDGE THAT YOUR SUBMISSION OF ANY INFORMATION VIA THE VIDQU APPLICATIONS IS AT YOUR OWN RISK. VIDQU DOES NOT ASSUME ANY LIABILITY TO YOU WITH REGARD TO ANY LOSS OR LIABILITY RELATING TO SUCH INFORMATION IN ANY WAY.</p>
        <h4>Limitations of Liability</h4>
        <p>UNDER NO CIRCUMSTANCES ARE WE, OUR AFFILIATES, OR OUR SUPPLIERS LIABLE TO YOU FOR ANY: (A) INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES; (B) THEFT OF PERSONALLY IDENTIFIABLE INFORMATION OR COST OF PROCURING SUBSTITUTE SOFTWARE OR SERVICES, AND (C) DAMAGES FOR LOSS OF PROFITS, LOSS OF GOODWILL, LOSS OF PERSONNEL SALARIES, WORK STOPPAGE, COMPUTER FAILURE OR MALFUNCTION, LOSS OF DATA, OR NEGLIGENCE OF ANY KIND, OR FOR ANY OTHER NONDIRECT DAMAGE OR LOSS.
        </br>IN NO EVENT WILL OUR, OUR AFFILIATES’ OR OUR SUPPLIERS’ AGGREGATE LIABILITY TO YOU FOR DIRECT DAMAGES EXCEED THE PRICE YOU PAID FOR THE APPLICABLE SOFTWARE OR SERVICES, OR US$ 10 (OR THE EQUIVALENT AMOUNT IN NATIONAL CURRENCY).
        </p>
        <h4>Indemnification</h4>
        <p>YOU AGREE TO INDEMNIFY, DEFEND, AND HOLD HARMLESS VIDQU, ITS OFFICERS, DIRECTORS, EMPLOYEES, MEMBERS, PARTNERS, AGENTS, AND SUPPLIERS, AND THEIR RESPECTIVE AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, MEMBERS, SHAREHOLDERS, PARTNERS, AND AGENTS, FROM ANY AND ALL CLAIMS AND EXPENSES, INCLUDING ATTORNEYS’ FEES, ARISING OUT OF YOUR USE OF THE CONTENT AND SERVICE, INCLUDING BUT NOT LIMITED TO YOUR VIOLATION OF THIS AGREEMENT. WE MAY, AT OUR SOLE DISCRETION, ASSUME THE EXCLUSIVE DEFENSE AND CONTROL OF ANY MATTER SUBJECT TO INDEMNIFICATION BY YOU. THE ASSUMPTION OF SUCH DEFENSE OR CONTROL BY US, HOWEVER, SHALL NOT EXCUSE ANY OF YOUR INDEMNITY OBLIGATIONS.</p>
        <h4>Governing Law and Dispute Resolution</h4>
        <p>The terms of this TOS shall be governed by the laws of the Hong Kong Special Administrative Region of the People’s Republic of China, excluding its rules governing conflicts of law. Any purchases made through any of Vidqu FaceSwap’s online stores will be governed by this TOS and Terms of Sale applicable to that purchase. Most customer concerns can be resolved through Vidqu FaceSwap’s online support center. In the event that Vidqu FaceSwap  is unable to resolve a complaint to your satisfaction, please send a notice to <a href="mailto:support@vidqu.ai">support@vidqu.ai</a>.</p>
        <h4>Error Reporting and Feedback</h4>
        <p>You may provide us directly at <a href="mailto:support@vidqu.ai">support@vidqu.ai</a> with information and feedback concerning errors, suggestions for improvements, ideas, problems, complaints, and other matters related to our Platform (“Feedback”).</p>
        <p>You acknowledge and agree that: (i) you shall not retain, acquire or assert any intellectua property rights or other rights, title, or interest in or to the Feedback; (ii) we may use the Feedback to improve the Platform or any other technology; (iii) we may have development ideas similar to the Feedback; (iv) the Feedback does not contain confidential information or proprietary information from you or any third party; and (v) we are not under any obligation of confidentiality concerning the Feedback.</p>
        <p>You hereby grant VIDQU FaceSwap and its affiliates an exclusive, transferable, irrevocable, free-of-charge, royalty-free, sub-licensable, unlimited, and perpetual right to use (including copy, modify, create derivative works, publish, distribute, and commercialize) the Feedback in any manner and for any purpose.</p>
        <h4>Force Majeure</h4>
        <p>Neither party shall be liable to the other for any failure to perform any obligation under any Agreement which is due to an event beyond the control of such party, including but not limited to any Act of God, terrorism, war, Political insurgency, insurrection, riot, civil unrest, the act of civil or military authority, uprising, earthquake, flood or any other natural or man-made eventuality outside of our control, which causes the termination of an agreement or contract entered into, nor which could have been reasonably foreseen. Any Party affected by such event shall forthwith inform the other Party of the same and shall use all reasonable endeavors to comply with the terms and conditions of any Agreement contained herein. Data loss or damage caused by force majeure will not be compensated.</p>
        <h4>Final Provisions</h4>
        <p>If any provision in this TOS is held invalid or unenforceable, that provision shall be construed in a manner consistent with applicable law to reflect the original intent of the provision, and the remaining provisions of this TOS shall remain in full force and effect. Any failure to exercise or enforce any right or the provision of this TOS shall not constitute a waiver of such right or provision.</p>
        <h4>Acknowledgement</h4>
        <p>BY USING THE SERVICE OR OTHER SERVICES PROVIDED BY US, YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS AND AGREE TO BE BOUND BY THEM..</p>
        <h4>Contact Us</h4>
        <p>Should you have any questions concerning this notice, or if you desire to contact Vidqu FaceSwap for any reason, please email us at <a href="mailto:support@vidqu.ai">support@vidqu.ai</a>.</p>
    </div>
    <%- include('../patiles/footer'); -%>
</body>


</html>