<!DOCTYPE html>
<html lang="en" style="font-size: 50px">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,user-scalable=no"
    />
    <title><%- aiToolPricing['title']-%></title>
    <meta
      name="<%- aiToolPricing['description'].name-%>"
      content="<%-aiToolPricing['description'].content-%>"
    />
    <%- include('../patiles/head'); -%>
    <!-- <link rel="stylesheet" href="/dist/css/common.css" />  -->
    <link rel="stylesheet" href="/dist/css/ai-tool-pricing.css" />
    <link rel="canonical" href="https://www.vidqu.ai/pricing.html" />

    <link rel="stylesheet" href="/dist/css/swiper.min.css" /> 
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CW3Q6HBRV8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-CW3Q6HBRV8");
    </script>
    <script type="text/javascript" src="/dist/lan/normal.js"></script> 
    <script>
      const payText = jsonData.creditPayDialog.javascript;
    </script>
  </head>

  <body class="ai_tool_pricing">
    <%- include('../patiles/header'); -%>
    <main> 
      <div class="credits_combo_main_page"> 
        <div class="credits_pack_combo"> 
          <img class="mob_bottom_bg"  src="/dist/img/video-translate/bg_mob.png" alt="">
          <div id="credits_subscribe_page" class="credits_subscribe_page">
            <div class="credits_title">
              <div class="subscribe_h1">
                <h1 class="subscribe_h1_dom">
                  <%-aiToolPricing['pricing_h1']-%>
                </h1>
                <div class="subscribe_h1_span">
                  <%-aiToolPricing['pricing_h1_span']-%>
                </div>
              </div>
            </div>
            <div class="credits_combo_container_fix_placeholder" style="height: 220px">
              <div class="credits_combo_container_wrapper">
                <div class="credits_combo_container credits_container_loading ">
                  <div class="credits_combo_item">
                    <div class="credit_discount"><%-aiToolPricing['0%OFF']-%></div>
                    <div class="credit_info">
                      <div class="credit_name"><%-aiToolPricing['Monthly']-%></div>
                      <div class="credit_num"><%-aiToolPricing['0Credits']-%></div>
                    </div>
                    <div class="credit_price_detail">
                      <div class="credit_price">
                        <div class="credit_price_align"><span>$</span>0</div>
                        <div class="credit_price_or">0</div>
                      </div>
                      <div class="credit_price_each">
                        <%-aiToolPricing['0/Credit']-%>
                      </div>
                    </div>
                    <div class="credit_subscribe">
                      <%-aiToolPricing['Subscribe']-%>
                    </div>
                    <div class="credit_detail_list">
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                    </div>
                  </div>
                  <div class="credits_combo_item">
                    <div class="credit_discount"><%-aiToolPricing['0%OFF']-%></div>
                    <div class="credit_info">
                      <div class="credit_name"><%-aiToolPricing['Monthly']-%></div>
                      <div class="credit_num"><%-aiToolPricing['0Credits']-%></div>
                    </div>
                    <div class="credit_price_detail">
                      <div class="credit_price">
                        <div class="credit_price_align"><span>$</span>0</div>
                        <div class="credit_price_or">0</div>
                      </div>
                      <div class="credit_price_each">
                        <%-aiToolPricing['0/Credit']-%>
                      </div>
                    </div>
                    <div class="credit_subscribe">
                      <%-aiToolPricing['Subscribe']-%>
                    </div>
                    <div class="credit_detail_list">
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                    </div>
                  </div>
                  <div class="credits_combo_item">
                    <div class="credit_discount"><%-aiToolPricing['0%OFF']-%></div>
                    <div class="credit_info">
                      <div class="credit_name"><%-aiToolPricing['Monthly']-%></div>
                      <div class="credit_num"><%-aiToolPricing['0Credits']-%></div>
                    </div>
                    <div class="credit_price_detail">
                      <div class="credit_price">
                        <div class="credit_price_align"><span>$</span>0</div>
                        <div class="credit_price_or">0</div>
                      </div>
                      <div class="credit_price_each">
                        <%-aiToolPricing['0/Credit']-%>
                      </div>
                    </div>
                    <div class="credit_subscribe">
                      <%-aiToolPricing['Subscribe']-%>
                    </div>
                    <div class="credit_detail_list">
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                      <div class="credit_detail_item">
                        <img
                            class="credit_detail_icon"
                            src="/dist/img/ai-tool-pricing/icon_checked.svg"
                            alt=""
                        />
                        <div class="credit_detail_span"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="m_credits_combo_container">
              <div class="m_credit_subscribe_info">
                <div class="m_credit_subscribe_info_content">
                  <div class="m_credit_subscribe_credits">0 Credits</div>
                  <div class="m_credit_subscribe_price"><span>$</span>0</div>
                </div>
                <div class="m_credit_subscribe_info_content">
                  <div class="m_credit_subscribe_due"></div>
                  <div class="m_credit_subscribe_list_price"></div>
                </div>
              </div>
              <div class="m_credit_subscribe">
                <%-aiToolPricing['Subscribe']-%>
              </div>
              <div class="m_credit_your_plan">
                <div class="m_credit_plan_t">
                  <%-aiToolPricing['INCLUDED_IN_YOUR_PLAN']-%>
                </div>
                <div class="m_credit_plan_container">
                  <div class="m_credit_plan_item">
                    <img
                      class="m_credit_plan_icon"
                      src="/dist/img/ai-tool-pricing/icon_photos_time.svg"
                      alt=""
                    />
                    <div
                      class="m_credit_plan_content m_credit_plan_content1"
                    ></div>
                  </div>
                  <div class="m_credit_plan_item">
                    <img
                      class="m_credit_plan_icon"
                      src="/dist/img/ai-tool-pricing/icon_no_watermark.svg"
                      alt=""
                    />
                    <div
                      class="m_credit_plan_content m_credit_plan_content2"
                    ></div>
                  </div>
                  <div class="m_credit_plan_item">
                    <img
                      class="m_credit_plan_icon"
                      src="/dist/img/ai-tool-pricing/icon_multi-face.svg"
                      alt=""
                    />
                    <div
                      class="m_credit_plan_content m_credit_plan_content3"
                    ></div>
                  </div>
                  <div class="m_credit_plan_item">
                    <img
                      class="m_credit_plan_icon"
                      src="/dist/img/ai-tool-pricing/icon_hd.svg"
                      alt=""
                    />
                    <div
                      class="m_credit_plan_content m_credit_plan_content4"
                    ></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="credit_plan_info_wrapper">
              <div id="credit_plan_info_swap" style="display: none">
                <div class="credit_plan_info_header"><%-aiToolPricing['ai_face_swap']-%></div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['photo_to_swap_face']-%></div>
                  <div class="credit_plan_info_cell hidden"><%-aiToolPricing['photo_to_swap_face1']-%></div>
                  <div class="credit_plan_info_cell hidden"><%-aiToolPricing['photo_to_swap_face2']-%></div>
                  <div class="credit_plan_info_cell"><%-aiToolPricing['photo_to_swap_face3']-%></div>
                </div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['video_to_swap_face']-%></div>
                  <div class="credit_plan_info_cell hidden"><%-aiToolPricing['video_to_swap_face1']-%></div>
                  <div class="credit_plan_info_cell hidden"><%-aiToolPricing['video_to_swap_face2']-%></div>
                  <div class="credit_plan_info_cell"><%-aiToolPricing['video_to_swap_face3']-%></div>
                </div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['max_duration']-%></div>
                  <div class="credit_plan_info_cell hidden"><%-aiToolPricing['max_duration1']-%></div>
                  <div class="credit_plan_info_cell hidden"><%-aiToolPricing['max_duration1']-%></div>
                  <div class="credit_plan_info_cell"><%-aiToolPricing['max_duration1']-%></div>
                </div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['multi_face_swap']-%></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell"><i class="icon_checked"></i></div>
                </div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['no_watermark']-%></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell"><i class="icon_checked"></i></div>
                </div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['hd_images_and_videos']-%></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell"><i class="icon_checked"></i></div>
                </div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['unlock_PRO_model']-%></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell"><i class="icon_checked"></i></div>
                </div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['priority_processing']-%></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell"><i class="icon_checked"></i></div>
                </div>
              </div>
              <div id="credit_plan_info_translator">
                <div class="credit_plan_info_header"><%-aiToolPricing['AI_video_translator']-%></div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['AI_video_translation']-%></div>
                  <div class="credit_plan_info_cell hidden"><%-aiToolPricing['AI_video_translation1']-%></div>
                  <div class="credit_plan_info_cell hidden"><%-aiToolPricing['AI_video_translation2']-%></div>
                  <div class="credit_plan_info_cell"><%-aiToolPricing['AI_video_translation3']-%></div>
                </div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['max_duration']-%></div>
                  <div class="credit_plan_info_cell hidden"><%-aiToolPricing['max_duration2']-%></div>
                  <div class="credit_plan_info_cell hidden"><%-aiToolPricing['max_duration2']-%></div>
                  <div class="credit_plan_info_cell"><%-aiToolPricing['max_duration2']-%></div>
                </div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['cloud_storage']-%></div>
                  <div class="credit_plan_info_cell hidden"><%-aiToolPricing['unlimited']-%></div>
                  <div class="credit_plan_info_cell hidden"><%-aiToolPricing['unlimited']-%></div>
                  <div class="credit_plan_info_cell"><%-aiToolPricing['unlimited']-%></div>
                </div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['no_watermark']-%></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell"><i class="icon_checked"></i></div>
                </div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['supported_languages']-%></div>
                  <div class="credit_plan_info_cell hidden"><%-aiToolPricing['supported_languages1']-%></div>
                  <div class="credit_plan_info_cell hidden"><%-aiToolPricing['supported_languages1']-%></div>
                  <div class="credit_plan_info_cell"><%-aiToolPricing['supported_languages1']-%></div>
                </div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['2x_faster_video_processing']-%></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell"><i class="icon_checked"></i></div>
                </div>
                <div class="credit_plan_info_row">
                  <div class="credit_plan_info_cell"><%-aiToolPricing['early_access_to_new_features']-%></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell hidden"><i class="icon_checked"></i></div>
                  <div class="credit_plan_info_cell"><i class="icon_checked"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div id="credits_pack_page" class="credits_pack_page">
            <div class="credits_title">
              <div class="credit_pack_h1">
                <h2 class="credit_pack_h1_dom">
                  <%-aiToolPricing['pricing_h1_pack']-%>
                </h2>
                <div class="credit_pack_h1_span">
                  <%-aiToolPricing['pricing_span_pack']-%>
                </div>
              </div>
            </div>

            <div class="credits_pack_container credits_container_loading">
              <div class="credits_pack_item">
                <div class="credit_num"><%-aiToolPricing['0Credits']-%></div>
                <div class="credit_price_detail">
                  <div class="credit_price">
                    <div class="credit_price_or">0</div>
                    <div class="credit_price_align"></div>
                  </div>
                  <div class="credit_price_each"></div>
                </div>
                <div class="credit_subscribe">
                  <%-aiToolPricing['Subscribe']-%>
                </div>
              </div>
              <div class="credits_pack_item">
                <div class="credit_num"><%-aiToolPricing['0Credits']-%></div>
                <div class="credit_price_detail">
                  <div class="credit_price">
                    <div class="credit_price_or">0</div>
                    <div class="credit_price_align"></div>
                  </div>
                  <div class="credit_price_each"></div>
                </div>
                <div class="credit_subscribe">
                  <%-aiToolPricing['Subscribe']-%>
                </div>
              </div>
              <div class="credits_pack_item">
                <div class="credit_num"><%-aiToolPricing['0Credits']-%></div>
                <div class="credit_price_detail">
                  <div class="credit_price">
                    <div class="credit_price_or">0</div>
                    <div class="credit_price_align"></div>
                  </div>
                  <div class="credit_price_each"></div>
                </div>
                <div class="credit_subscribe">
                  <%-aiToolPricing['Subscribe']-%>
                </div>
              </div>
            </div>
            <div class="m_credits_pack_container">
              <div class="m_credit_subscribe_info">
                <div class="m_credit_subscribe_info_content">
                  <div class="m_credit_subscribe_credits">0 Credits</div>
                  <div class="m_credit_subscribe_price"><span>$</span>0</div>
                </div>
                <div class="m_credit_subscribe_info_content">
                  <div class="m_credit_subscribe_due"></div>
                  <div class="m_credit_subscribe_list_price"></div>
                </div>
              </div>
              <div class="m_credit_subscribe">
                <%-aiToolPricing['Buy_Now']-%>
              </div>
            </div>

            <div class="about_credit_pack">
              <div class="about_credit_pack_title">
                <img
                  class="about_credit_pack_icon"
                  src="/dist/img/ai-tool-pricing/bth_icon_black_coins.svg"
                  alt=""
                />
                <span><%-aiToolPricing['about_pack_t']-%></span>
              </div>
              <div class="about_credit_pack_content">
                <%-aiToolPricing['about_pack_d']-%>
              </div>
            </div>
          </div>
          <div
            id="credits_pack_combo_mB"
            class="credits_pack_combo_mB credits_container_loading"
          >
            <div class="credits_title">
              <div class="subscribe_h1">
                <h2 class="subscribe_h1_dom">
                  <%-aiToolPricing['pricing_h1']-%>
                </h2>
              </div>
            </div>
            <div class="credits_combo_container_mB">
              <div class="credits_combo_item_mb">
                <div class="select_item">
                  <div class="credit_discount">
                    <%-aiToolPricing['0%OFF']-%>
                  </div>
                  <div class="credit_name"><%-aiToolPricing['Monthly']-%></div>
                  <div class="credit_price">
                    <div class="credit_price_align"><span>$</span>0</div>
                    <div class="credit_price_or">0</div>
                  </div>
                  <img
                    class="check_icon"
                    src="/dist/img/ai-tool-pricing/icon_checked_mB.svg"
                  />
                </div>
                <div class="select_item">
                  <div class="credit_discount">
                    <%-aiToolPricing['0%OFF']-%>
                  </div>
                  <div class="credit_name">
                    <%-aiToolPricing['Half_Yearly']-%>
                  </div>
                  <div class="credit_price">
                    <div class="credit_price_align"><span>$</span>0</div>
                    <div class="credit_price_or">0</div>
                  </div>
                  <img
                    class="check_icon"
                    src="/dist/img/ai-tool-pricing/icon_checked_mB.svg"
                  />
                </div>
                <div class="select_item checked_item">
                  <div class="credit_discount">
                    <%-aiToolPricing['0%OFF']-%>
                  </div>
                  <div class="credit_name"><%-aiToolPricing['Yearly']-%></div>
                  <div class="credit_price">
                    <div class="credit_price_align"><span>$</span>0</div>
                    <div class="credit_price_or">0</div>
                  </div>
                  <img
                    class="check_icon"
                    src="/dist/img/ai-tool-pricing/icon_checked_mB.svg"
                  />
                </div>
              </div>
              <div class="credit_info">
                <div class="credit_price_detail">
                  <div class="credits_num_mB">
                    <div class="text_mb"><%-aiToolPricing['Credits']-%></div>
                    <div class="text_value_mB">960</div>
                  </div>
                  <div class="credits_unit_mB">
                    <div class="text_mb">
                      <%-aiToolPricing['Credit_unit_price']-%>
                    </div>
                    <div class="text_value_mB">$0.03</div>
                  </div>
                </div>
                <ul class="credit_detail_list_mB">
                  <li class="credit_detail_item">
                    <div class="credit_detail_span">
                      <%-aiToolPricing['Swap_photos']-%>
                    </div>
                    <div class="list_value" id="Swap_photos_value">960</div>
                  </li>
                  <li class="credit_detail_item">
                    <div class="credit_detail_span">
                      <%-aiToolPricing['Or_swap_videos']-%>
                    </div>
                    <div class="list_value" id="Swap_video_value">48-min</div>
                  </li>
                  <li class="credit_detail_item">
                    <div class="credit_detail_span">
                      <%-aiToolPricing['Multi-face_swap_for_photos_and_videos']-%>
                    </div>
                    <img
                      class="credit_detail_icon"
                      src="/dist/img/ai-tool-pricing/icon_checked.svg"
                      alt=""
                    />
                  </li>
                  <li class="credit_detail_item">
                    <div class="credit_detail_span">
                      <%-aiToolPricing['No_watermark']-%>
                    </div>
                    <img
                      class="credit_detail_icon"
                      src="/dist/img/ai-tool-pricing/icon_checked.svg"
                      alt=""
                    />
                  </li>
                  <li class="credit_detail_item">
                    <div class="credit_detail_span">
                      <%-aiToolPricing['HD_images_and_videos']-%>
                    </div>
                    <img
                      class="credit_detail_icon"
                      src="/dist/img/ai-tool-pricing/icon_checked.svg"
                      alt=""
                    />
                  </li>
                  <li class="credit_detail_item">
                    <div class="credit_detail_span">
                      <%-aiToolPricing['Unlock_PRO_model']-%>
                    </div>
                    <img
                      class="credit_detail_icon"
                      src="/dist/img/ai-tool-pricing/icon_checked.svg"
                      alt=""
                    />
                  </li>
                  <li class="credit_detail_item">
                    <div class="credit_detail_span">
                      <%-aiToolPricing['Priority_processing']-%>
                    </div>
                    <img
                      class="credit_detail_icon"
                      src="/dist/img/ai-tool-pricing/icon_checked.svg"
                      alt=""
                    />
                  </li>
                  <li class="credit_detail_item">
                    <div class="credit_detail_span" id="Credits_renewed_time">
                      <%-aiToolPricing['Credits_renewed_yearly']-%>
                    </div>
                    <img
                      class="credit_detail_icon"
                      src="/dist/img/ai-tool-pricing/icon_checked.svg"
                      alt=""
                    />
                  </li>
                </ul>
                <div class="credit_subscribe_mB">
                  <%-aiToolPricing['Subscribe_Now']-%>
                </div>
              </div>
            </div>
          </div>
<!--          <img class="icon_path_down" src="/dist/img/ai-tool-pricing/path_down.svg" alt="">-->
        </div>
        <div id="credits_table" class="credits_table">
          <h2 class="credits_table_title"><%-aiToolPricing['pricing_h2']-%></h2>
          <div class="credits_table_container">
            <table>
              <thead>
                <tr>
                  <th><%-aiToolPricing['product']-%></th>
                  <th><%-aiToolPricing['type']-%></th>
                  <th colspan="2"><%-aiToolPricing['Credits_Charge']-%></th>
                </tr>
              </thead>
              <tbody>
              <tr style="display: none;">
                <td rowspan="4" class="td_faceswap">
                  <div>
                    <%-aiToolPricing['face_swap']-%>
                    <i class="icon_info" id="face_swap_info"></i>
                  </div>
                </td>
                <td rowspan="2"><%-aiToolPricing['Credit_Photo']-%></td>
                <td><%-aiToolPricing['javascript']['1_6faces']-%></td>
                <td><%-aiToolPricing['javascript']['7_10faces']-%></td>
              </tr>
              <tr style="display: none;">
                <td><%-aiToolPricing['1Credit']-%></td>
                <td><%-aiToolPricing['2Credit']-%></td>
              </tr>
              <tr style="display: none;">
                <td rowspan="2"><%-aiToolPricing['Credit_Both']-%></td>
                <td><%-aiToolPricing['javascript']['1_3faces']-%></td>
                <td><%-aiToolPricing['javascript']['4_10faces']-%></td>
              </tr>
              <tr style="display: none;">
                <td><%-aiToolPricing['5Credits/15s']-%></td>
                <td><%-aiToolPricing['5Credits/15s2']-%></td>
              </tr>
              <tr>
                <td class="td_translation">
                  <div>
                    <%-aiToolPricing['video_translation']-%>
                    <i class="icon_info" id="translation_info"></i>
                  </div>
                </td>
                <td><%-aiToolPricing['Seconds']-%></td>
                <td colspan="2"><%-aiToolPricing['credit_min']-%></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="credits_FAQs">
          <div class="credits_FAQs_title">
            <%-aiToolPricing['pricing_h3']-%>
          </div>
          <div class="credits_FAQs_container">
            <div class="credits_FAQs_item">
              <div class="credits_FAQs_question">
                <div class="credits_FAQs_question_text">
                  <%-aiToolPricing['Credit_FAQ_Q1']-%>
                </div>
                <img
                  class="credits_FAQs_question_icon"
                  src="/dist/img/ai-tool-pricing/icon_drop_down.svg"
                  alt=""
                />
              </div>
              <div class="credits_FAQs_answer">
                <div class="credits_FAQs_answer_text">
                  <%-aiToolPricing['Credit_FAQ_A1']-%>
                </div>
              </div>
            </div>
            <div class="credits_FAQs_item">
              <div class="credits_FAQs_question">
                <div class="credits_FAQs_question_text">
                  <%-aiToolPricing['Credit_FAQ_Q2']-%>
                </div>
                <img
                  class="credits_FAQs_question_icon"
                  src="/dist/img/ai-tool-pricing/icon_drop_down.svg"
                  alt=""
                />
              </div>
              <div class="credits_FAQs_answer">
                <div class="credits_FAQs_answer_text">
                  <%-aiToolPricing['Credit_FAQ_A2']-%>
                </div>
              </div>
            </div>
            <div class="credits_FAQs_item">
              <div class="credits_FAQs_question">
                <div class="credits_FAQs_question_text">
                  <%-aiToolPricing['Credit_FAQ_Q3']-%>
                </div>
                <img
                  class="credits_FAQs_question_icon"
                  src="/dist/img/ai-tool-pricing/icon_drop_down.svg"
                  alt=""
                />
              </div>
              <div class="credits_FAQs_answer">
                <div class="credits_FAQs_answer_text">
                  <%-aiToolPricing['Credit_FAQ_A3']-%>
                </div>
              </div>
            </div>
            <div class="credits_FAQs_item">
              <div class="credits_FAQs_question">
                <div class="credits_FAQs_question_text">
                  <%-aiToolPricing['Credit_FAQ_Q4']-%>
                </div>
                <img
                  class="credits_FAQs_question_icon"
                  src="/dist/img/ai-tool-pricing/icon_drop_down.svg"
                  alt=""
                />
              </div>
              <div class="credits_FAQs_answer">
                <div class="credits_FAQs_answer_text">
                  <%-aiToolPricing['Credit_FAQ_A4']-%>
                </div>
              </div>
            </div>
            <div class="credits_FAQs_item">
              <div class="credits_FAQs_question">
                <div class="credits_FAQs_question_text">
                  <%-aiToolPricing['Credit_FAQ_Q5']-%>
                </div>
                <img
                  class="credits_FAQs_question_icon"
                  src="/dist/img/ai-tool-pricing/icon_drop_down.svg"
                  alt=""
                />
              </div>
              <div class="credits_FAQs_answer">
                <div class="credits_FAQs_answer_text">
                  <%-aiToolPricing['Credit_FAQ_A5']-%>
                </div>
              </div>
            </div>
          </div>
        </div>
 
        <div id="credits_fiexd_container">
          <div class="credits_fiexd_content">
            <div class="credits_fiexd_num">960 Credits</div>
            <div class="credits_fiexd_price">$29.99</div>
          </div>
          <div class="credits_fiexd_content">
            <div class="credits_price_each">960 Credits</div>
            <div class="credits_fiexd_price_or">$29.99</div>
          </div>
          <div class="credits_fiexd_submit">
            <%-aiToolPricing['Subscribe']-%>
          </div>
        </div>
      </div>  
      <%- include('../patiles/credit-pay-dialog'); -%>
    </main> 
    <%- include('../patiles/footer'); -%> 
  </body>
  <script src="/dist/js/jquery-2.1.4.min.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="/dist/js/swiper-bundle.min.js"></script>  
  <!-- <script src="/dist/js/common.js"></script> -->
  <!-- <script src="/dist/js/menu.js"></script> -->
  <script src="/dist/js/share-dialog/index.js" type="module"></script>
  <script src="/dist/js/bottom-message/index.js" type="module"></script>
  <script src="/dist/js/credit-pay-dialog.js"></script>
  <script src="/dist/js/ai-tool-pricing.js" type="module"></script>
 
  <script>
    // console.log(jsonData)
    const aiToolPricing = jsonData.aiToolPricing;
    const textContentObj = aiToolPricing.javascript; 
    // initLoginDialog();
  </script>
</html>
