<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>
    <%= terms.title %>
  </title>
  <meta name="description" content=" <%= terms.description %> " />
  <meta name="keywords" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0,minimal-ui,viewport-fit=cover" />
  <link rel="icon" href="/dist/img/FS-favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/dist/css/auxiliary-page.css" />
  <link rel="canonical" href="https://jp.vidqu.ai/terms.html" />
  <link rel="alternate" hreflang="en" href="https://www.vidqu.ai/terms.html" />
  <link rel="alternate" hreflang="fr" href="https://fr.vidqu.ai/terms.html" />
  <link rel="alternate" hreflang="de" href="https://de.vidqu.ai/terms.html" />
  <link rel="alternate" hreflang="es" href="https://es.vidqu.ai/terms.html" />
  <link rel="alternate" hreflang="pt" href="https://pt.vidqu.ai/terms.html" />
  <link rel="alternate" hreflang="ja" href="https://jp.vidqu.ai/terms.html" />
  <link rel="alternate" hreflang="it" href="https://it.vidqu.ai/terms.html" />
  <link rel="alternate" hreflang="ar" href="https://ar.vidqu.ai/terms.html" />
  <link rel="alternate" hreflang="ko" href="https://ko.vidqu.ai/terms.html" />
  <link rel="alternate" hreflang="zh-TW" href="https://tw.vidqu.ai/terms.html" />
  <link rel="alternate" hreflang="x-default" href="https://www.vidqu.ai/terms.html" />
  <%- include('../patiles/head'); -%>

</head>

<body>
  <%- include('../patiles/header'); -%>
  <main>
    <div class="main">
      <div class="auxiliary-wrapper">
        <h1><%- terms.h1 -%></h1>
        <h4><%- terms.HF1 -%></h4>
        <p><%- terms.text1 -%></p>
        <h4><%- terms.HF2 -%></h4>
        <p><%- terms.text2 -%></p>
        <h4><%- terms.HF3 -%></h4>
        <p><%- terms.text3 -%></p>
        <h4><%- terms.HF4 -%></h4>
        <p><%- terms.text4 -%></p>
        <p><%- terms.text5 -%></p>
        <p><%- terms.text6 -%></p>
        <p><%- terms.text7 -%></p>
        <h4><%- terms.HF5 -%></h4>
        <p><%- terms.text8 -%></p>

        <h4><%- terms.HF6 -%></h4>
        <p><%- terms.text9 -%></p>
        <p><%- terms.text10 -%></p>
        <p><%- terms.text11 -%></p>
        <h4><%- terms.HF7 -%></h4>
        <p><%- terms.text12 -%></p>
        <p><%- terms.text13 -%></p>
        <p><%- terms.text14 -%></p>
        <ul>
          <li><%- terms.text15 -%></li>
          <li><%- terms.text16 -%></li>
          <li><%- terms.text17 -%></li>
          <li><%- terms.text18 -%></li>
          <li><%- terms.text19 -%></li>
          <li><%- terms.text20 -%></li>
          <li><%- terms.text21 -%></li>
          <li><%- terms.text22 -%></li>
          <li><%- terms.text23 -%></li>
          <li><%- terms.text24 -%></li>
          <li><%- terms.text25 -%></li>
          <li><%- terms.text26 -%></li>
          <li><%- terms.text27 -%></li>
          <li><%- terms.text28 -%></li>
          <li><%- terms.text29 -%></li>
          <li><%- terms.text30 -%></li>
          <li><%- terms.text31 -%></li>
          <li><%- terms.text32 -%></li>
        </ul>
        <h4><%- terms.HF8 -%></h4>
        <p><%- terms.text33 -%></p>
        <p><%- terms.text34 -%></p>
        <h4><%- terms.HF9 -%></h4>
        <p><%- terms.text35 -%></p>
        <p><%- terms.text36 -%></p>
        <p><%- terms.text37 -%></p>
        <h4><%- terms.HF10 -%></h4>
        <p><%- terms.text38 -%></p>
        <p><%- terms.text39 -%></p>
        <h4><%- terms.HF11 -%></h4>
        <p><%- terms.text40 -%></p>

        <h4><%- terms.HF12 -%></h4>
        <ol>
          <li><%- terms.text41 -%></li>
          <li><%- terms.text42 -%></li>
          <li><%- terms.text43 -%></li>
          <li><%- terms.text44 -%></li>
          <li><%- terms.text45 -%></li>
          <li><%- terms.text46 -%>
            <ol>
              <li><%- terms.text47 -%></li>
              <li><%- terms.text48 -%></li>
            </ol>
          </li>
        </ol>
        <p><%- terms.text49 -%></p>
        <p><%- terms.text50 -%></p>
        <h4><%- terms.HF13 -%></h4>
        <p><%- terms.text51 -%></p>

        <h4><%- terms.HF14 -%></h4>
        <p><%- terms.text52 -%></p>
        <p><%- terms.text53 -%></p>

        <h4><%- terms.HF15 -%></h4>
        <p><%- terms.text54 -%></p>

        <h4><%- terms.HF16 -%></h4>
        <p><%- terms.text55 -%></p>
        <p><%- terms.text56 -%></p>
        <p><%- terms.text57 -%></p>

        <h5><%- terms.h51 -%></h5>
        <p><%- terms.text58 -%></p>

        <h5><%- terms.h52 -%></h5>
        <p><%- terms.text59 -%></p>

        <h5><%- terms.h53 -%></h5>
        <p><%- terms.text60 -%></p>

        <h5><%- terms.h54 -%></h5>
        <p><%- terms.text61 -%></p>

        <h5><%- terms.h55 -%></h5>
        <p><%- terms.text62 -%></p>

        <h4><%- terms.HF17 -%></h4>
        <p><%- terms.text63 -%></p>
        <p><%- terms.text64 -%></p>
        <h4><%- terms.HF18 -%></h4>
        <p><%- terms.text65 -%></p>

        <h4><%- terms.HF19 -%></h4>
        <p><%- terms.text66 -%></p>

        <h4><%- terms.HF20 -%></h4>
        <p><%- terms.text67 -%></p>
        <p><%- terms.text68 -%></p>
        <p><%- terms.text69 -%></p>
        <h4><%- terms.HF21 -%></h4>
        <p><%- terms.text70 -%></p>

        <h4><%- terms.HF22 -%></h4>
        <p><%- terms.text71 -%></p>

        <h4><%- terms.HF23 -%></h4>
        <p><%- terms.text72 -%></p>

        <h4><%- terms.HF24 -%></h4>
        <p><%- terms.text73 -%></p>
      </div>
    </div>
  </main>

  <%- include('../patiles/footer'); -%>

  <script src="/dist/js/popup/index.js" type="module"></script>
</body>

</html>