<!DOCTYPE html>
<html lang="es">

<head>
  <% const version="1.5.0.16" ; %>
    <meta charset="UTF-8" />
    <title>
      <%= aiGirlFriend.title %>
    </title>
    <meta name="description" content="<%= aiGirlFriend.description.content %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0,minimal-ui,viewport-fit=cover" />
    <meta name="facebook-domain-verification" content="1j3yuczpvlcnpxgscdbj8utw68641a" />

    <link rel="shortcut icon" href="/dist/img/index.png" />
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@vidqu">
    <meta name="twitter:title" content="<%= aiGirlFriend.shareTitle %>" />
    <meta name="twitter:description" content="<%= aiGirlFriend.shareDes %>">
    <meta name="twitter:image" content="">
    <meta property="fb:app_id" content="114829304922527">
    <meta property="og:url" content="">
    <meta property="og:type" content="article">
    <meta property="og:title" content="<%= aiGirlFriend.shareTitle %>">
    <meta property="og:description" content="<%= aiGirlFriend.shareDes %>">
    <meta property="og:image" content="">

    <link rel="stylesheet" type="text/css" href="/dist/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/ai-girlfriend-talking.css?v=<%= version %>" />
    <link rel="stylesheet" type="text/css" href="/dist/css/ai-girlfriend-seo.css?v=<%= version %>" />
    <link rel="stylesheet" type="text/css" href="/dist/css/ai-girlfriend.css?v=<%= version %>" />
    <link rel="preload" href="/dist/img/aiFriend/btn_right_hover.png" as="image" />
    <link rel="preload" href="/dist/img/aiFriend/btn_left_hover.png" as="image" />
    <link rel="preload" href="/dist/img/aiGirlFriendSeo/step1_photo.png" as="image" />
    <link rel="preload" href="/dist/img/aiGirlFriendSeo/step2_photo.png" as="image" />
    <link rel="preload" href="/dist/img/aiGirlFriendSeo/step3_photo.png" as="image" />
    <link rel="preload" href="/dist/img/aiGirlFriendSeo/step4_photo.png" as="image" />
    <link rel="preload" href="/dist/img/aiFriend/btn_heart_s_press.svg" as="image" />
    <link rel="prefetch" href="/dist/img/ai-chatting/error_icon.svg" />
    <link rel="prefetch" href="/dist/img/ai-chatting/popup_x_icon.svg" />
    
    <link rel="canonical" href="https://es.vidqu.ai/novia-virtual.html" />
    <link rel="alternate" hreflang="en" href="https://www.vidqu.ai/ai-girlfriend.html" />
    <link rel="alternate" hreflang="es" href="https://es.vidqu.ai/novia-virtual.html" />
    <link rel="alternate" hreflang="x-default" href="https://www.vidqu.ai/ai-girlfriend.html" />
    <%- include('../patiles/aiG-head'); -%>
</head>

<body>
  <!-- header -->
  <header>
    <div class="header_content">
      <a class="logo" href="/">
        <img src="/dist/img/aiFriend/logo.svg" alt="" />
      </a>
      <div class="header_meau">
        <a class="meau_item" href="/face-swap.html" onclick="window.gtagClick('fsclick_aigirlfriend_header');"
          target="_blank"><%- aiGirlFriend.faceSwap %></a>
        <a class="meau_item" href="/novia-virtual.html"><%- header.aigirl %></a>
        <a class="meau_item" href="/test-de-belleza.html"><%- header.TestdeBelleza %></a>
        <!-- <a class="meau_item" href="/ai-boyfriend.html"><%- header.aiboy %></a> -->
        <a class="meau_item" href="/about.html" onclick="window.gtagClick('aboutclick_aigirlfriend_header');"
          target="_blank"><%- header.about %></a>
        <div class="meau_item inform" id="header_inform">
          <img src="/dist/img/aiFriend/icon_message.svg" alt="" class="header_infom_status">
          <div class="inform_box">
            <div class="inform_box_container">
              <div class="inform_title"><%- aiGirlFriend.informTitle %></div>
              <div class="inform_list_box">
                <div class="inform_list"></div>
                <img src="/dist/img/aiFriend/pic_no-message.png" alt="" class="noInform">
                <div class="inform_notMore"><%- aiGirlFriend.notInform %></div>
                <div class="inform_loading">
                  <img src="/dist/img/aiFriend/inform_icon_loading.svg" alt="">
                  <%- aiGirlFriend.loading %>
                    <div class="loading_icon">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="meau_item login" id="header_login"><%- aiGirlFriend.login %></div>
        <div class="meau_item user" id="header_user">
          <img src="" alt="" class="header_avator" />
          <div class="signout log">
            <div class="header_editUser">
              <span class="userName"></span>
            </div>
            <div class="signoutBtn">
              <%- aiGirlFriend.SignUp %>
            </div>
          </div>
        </div>
        <div class="meau_icon"></div>
      </div>
    </div>
    <div class="mobile_show meau_list">
      <div class="meau_item log">
        <a href="javascript:;" class="userName header_editUser"></a>
      </div>
      <div class="meau_item">
        <a href="/face-swap.html" onclick="window.gtagClick('fsclick_aigirlfriend_header');" target="_blank"><%-
            aiGirlFriend.faceSwap %></a>
      </div>
      <div class="meau_item">
        <a href="/novia-virtual.html"><%- header.aigirl %></a>
      </div>
      <div class="meau_item">
        <a href="/test-de-belleza.html"><%- header.TestdeBelleza %></a>
      </div>
      <!-- <div class="meau_item">
        <a href="/ai-boyfriend.html"><%- header.aiboy %></a>
      </div> -->
      <div class="meau_item">
        <a href="/about.html" onclick="window.gtagClick('aboutclick_aigirlfriend_header');" target="_blank"><%-
            header.about %></a>
      </div>
      <div class="meau_item log">
        <a href="javascript:;" class="signoutBtn"><%- header.signout %></a>
      </div>
    </div>
    <div class="mobile_show inform_mobile_list">
      <div class="inform_m_header">
        <div class="inform_m_back"></div>
        <div class="inform_title"><%- aiGirlFriend.informTitle %></div>
      </div>
      <div class="inform_list_box">
        <div class="inform_list"></div>
        <img src="/dist/img/aiFriend/pic_no-message.png" alt="" class="noInform">
        <div class="inform_notMore"><%- aiGirlFriend.notInform %></div>
        <div class="inform_loading">
          <img src="/dist/img/aiFriend/inform_icon_loading.svg" alt="">
          <%- aiGirlFriend.loading %>
            <div class="loading_icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
        </div>
      </div>
    </div>
  </header>
  <div class="aiFriend">
    <h1><%- aiGirlFriend.h1 %></h1>
    <div class="description"><%- aiGirlFriend.des %></div>
    <div class="Segment">
      <div class="l">
        <div class="Segment_item active" id="allMyCharacters"><%- aiGirlFriend.home %></div>
        <div class="Segment_item" id="myCharacters"><%- aiGirlFriend.myCharacters %></div>
        <!-- <div class="Segment_item " id="voicepool">
          <div class="new_tag"><%- aiGirlFriend.new %></div>
          <%- aiGirlFriend.voicePool %>
        </div> -->
      </div>
      <div class="r">
        <div class="createBtn createMc"><img src="/dist/img/aiFriend/icon_add.svg" alt="">
          <span class="pc_show"><%- aiGirlFriend.createBtn %></span>
          <span class="mobile_show"><%- aiGirlFriend.createBtn_m %></span>
        </div>
      </div>
    </div>
    <div class="SegmentBox">
      <div class="Recent_hr">
        <div class="back">
          <img src="/dist/img/aiFriend/icon_arrow.png" alt="" />
        </div>
        <div class="hr_title"><%- aiGirlFriend.RecentChatting %></div>
        <div class="operate">
          <div class="edit recent"><%- aiGirlFriend.edit %></div>
          <div class="view"><%- aiGirlFriend.view %></div>
        </div>
      </div>
      <div class="RecentChatting">
        <div class="btn_left"></div>
        <div class="btn_right"></div>
        <div class="RecentChattingBox"></div>
        <div class="mobile_show viewMore"><%- aiGirlFriend.view %></div>
      </div>
      <div class="Characters_hr">
        <div class="hr_title"><%- aiGirlFriend.Characters %></div>
      </div>
      <div class="character_select">
        <div class="select_like chatSelect " id="select_sort">
          <div class="select_content"><%- aiGirlFriend.Hot %></div>
          <div class="select_icon"></div>
          <div class="select_list">
            <div class="select_list_item active" data-sort="hot"><%- aiGirlFriend.Hot %></div>
            <div class="select_list_item" data-sort="top"><%- aiGirlFriend.Top %></div>
            <div class="select_list_item" data-sort="new"><%- aiGirlFriend.New %></div>
          </div>
        </div>
        <div class="select_time chatSelect " id="select_sort_time">
          <div class="select_content"><%- aiGirlFriend.time.AllTime %></div>
          <div class="select_icon"></div>
          <div class="select_list">
            <div class="select_list_item" data-sort_time="day"><%- aiGirlFriend.time.day %></div>
            <div class="select_list_item" data-sort_time="week"><%- aiGirlFriend.time.Week %></div>
            <div class="select_list_item" data-sort_time="month"><%- aiGirlFriend.time.Month %></div>
            <div class="select_list_item" data-sort_time="year"><%- aiGirlFriend.time.Year %></div>
            <div class="select_list_item active" data-sort_time=""><%- aiGirlFriend.time.AllTime %></div>
          </div>
        </div>
        <div class="heart">
          <img src="/dist/img/aiFriend/btn_heart_normal.png" alt="" />
        </div>
      </div>
      <div class="classify">
        <div class="classify_btn_left">
          <img src="/dist/img/aiFriend/btn_left_normal.png" alt="">
        </div>
        <div class="classify_btn_right">
          <img src="/dist/img/aiFriend/btn_right_normal.png" alt="">
        </div>
        <div class="classify_box">
          <div class="classify_box_container"></div>
        </div>
      </div>
      <div class="characters"></div>
      <lottie-player class="characters_loading" src="/dist/img/aiFriend/loading.json" background="transparent" speed="1"
        loop autoplay></lottie-player>
      <div class="noFound">
        <div class="n_title"><%- aiGirlFriend.NoFound %></div>
        <div class="n_des"><%- aiGirlFriend.try %></div>
      </div>
    </div>
    <div class="myCharactersBox">
      <div class="classify">
        <div class="classify_select chatSelect">
          <div class="select_content"><%- aiGirlFriend.classifySelect.All %></div>
          <div class="select_icon"></div>
          <div class="select_list">
            <div class="select_list_item active" data-primary=""><%- aiGirlFriend.classifySelect.All %></div>
            <div class="select_list_item" data-primary="Public"><%- aiGirlFriend.classifySelect.Public %></div>
            <div class="select_list_item" data-primary="Private"><%- aiGirlFriend.classifySelect.Private %></div>
            <div class="select_list_item" data-primary="Draft"><%- aiGirlFriend.classifySelect.Draft %></div>
          </div>
        </div>
        <div class="classify_btn_left">
          <img src="/dist/img/aiFriend/btn_left_normal.png" alt="">
        </div>
        <div class="classify_btn_right">
          <img src="/dist/img/aiFriend/btn_right_normal.png" alt="">
        </div>
        <div class="classify_box">
          <div class="classify_box_container">
            <div class="mobile_show shadow"> </div>
          </div>
        </div>
      </div>
      <!-- normal -->
      <div class="myCharacters_Box">
        <div class="myCharacters_hr">
          <div class="hr_title"><%- aiGirlFriend.myCharacters_hr %></div>
          <div class="edit"><%- aiGirlFriend.edit %></div>
        </div>
        <div class="myCharacters"></div>
      </div>
      <!-- not -->
      <div class="noFoundMc">
        <div class="n_title"><%- aiGirlFriend.noFoundMc.title %></div>
        <div class="n_des"><%- aiGirlFriend.noFoundMc.des %></div>
        <div class="n_btn createMc">
          <img src="/dist/img/aiFriend/icon_add.svg" alt="">
          <%- aiGirlFriend.noFoundMc.btn %>
        </div>
      </div>
      <!-- create -->
      <div class="createMyCharacter_Box ">
        <div class="createMc_hr">
          <div class="create_back pc">
            <div class="create_back_box">
              <img src="/dist/img/aiFriend/icon_back.svg" alt="">
              <%- aiGirlFriend.create_back %>
            </div>
          </div>
          <div class="hr_title"><%- aiGirlFriend.createMcHr %></div>
        </div>
        <div class="createMc_container">
          <!-- image -->
          <div class="createMc_item image">
            <!-- avatar -->
            <div class="item_avatar">
              <div class="mc_title">
                <div class="mc_title_l">
                  <div class="font required"><%- aiGirlFriend.createMc.avatar_title %></div>
                </div>
              </div>
              <div class="mc_des">
                <%- aiGirlFriend.createMc.avatar_des %>
              </div>
              <div class="avatar">
                <input type="file" style="display: none;" id="createMC_avatar" accept=".jpg, .png, .webp, .jpeg">
                <div class="image_item">
                  <div class="delete_image"></div>
                  <img src="" alt="" id="createMC_avatar_img">
                </div>
                <div class="addImage">
                  <img src="/dist/img/aiFriend/btn_set_normal.svg" alt="">
                  <span><%- aiGirlFriend.createMc.avatar_btnSet %></span>
                </div>
              </div>
              <div class="erorrTip" data-type="avatar">
                <img src="/dist/img/aiFriend/icon_tip.svg" alt="">
                <span class="image_error"></span>
              </div>
            </div>
            <!-- background -->
            <div class="isEdit">
              <div class="mc_title">
                <div class="font"><%- aiGirlFriend.createMc.background_title %></div>
              </div>
              <div class="mc_des">
                <%- aiGirlFriend.createMc.background_des %>
              </div>
              <div class="background" id="background">
                <input type="file" style="display: none;" id="createMC_background" accept=".jpg, .png, .webp,.jpeg">
                <div class="image_item">
                  <div class="delete_image"></div>
                  <img src="" alt="" id="createMC_background_img">
                </div>
                <div class="addImage">
                  <img src="/dist/img/aiFriend/btn_set_normal.svg" alt="">
                  <span><%- aiGirlFriend.createMc.background_btnSet %></span>
                </div>
              </div>
              <div class="erorrTip" data-type="background">
                <img src="/dist/img/aiFriend/icon_tip.svg" alt="">
                <span class="image_error"></span>
              </div>
            </div>
          </div>
          <!-- voice -->
          <!-- <div class="createMc_item voice">
            <div class="mc_title">
              <div class="mc_title_l">
                <div class="font required"><%- aiGirlFriend.createMc.voice_title %></div>
                <div class="tip">
                  <img src="/dist/img/aiFriend/btn_tips.svg" alt="">
                  <div class="tip_box ">
                    <%- aiGirlFriend.createMc.voice_tip %>
                  </div>
                </div>
              </div>
            </div>
            <div class="voice_box">
              <div class="voice_item">
                <div class="icon"></div>123123
              </div>
            </div>
          </div> -->
          <!-- name -->
          <div class="createMc_item">
            <div class="mc_title">
              <div class="mc_title_l">
                <div class="font required"><%- aiGirlFriend.createMc.name_title %></div>
              </div>
              <div class="mc_title_r">
                <div class="maxLength" data-input="name">
                  <span>0</span>/30
                </div>
              </div>
            </div>
            <input type="text" label="name" class="createMC_name"
              placeholder="<%- aiGirlFriend.createMc.name_placeholder %>">
            <div class="erorrTip" data-type="name">
              <img src="/dist/img/aiFriend/icon_tip.svg" alt="">
              <span class="image_error"><%- aiGirlFriend.createMc.name_error %></span>
            </div>
          </div>
          <!-- description -->
          <div class="createMc_item">
            <div class="mc_title">
              <div class="mc_title_l">
                <div class="font required"><%- aiGirlFriend.createMc.des_title %></div>
                <div class="tip isCreate">
                  <img src="/dist/img/aiFriend/btn_tips.svg" alt="">
                  <div class="tip_box ">
                    <%- aiGirlFriend.createMc.des_tip_create %>
                  </div>
                </div>
                <div class="tip isEdit">
                  <img src="/dist/img/aiFriend/btn_tips.svg" alt="">
                  <div class="tip_box ">
                    <%- aiGirlFriend.createMc.des_tip_edit %>
                  </div>
                </div>
                <!-- <div class="writeMe" ><%- aiGirlFriend.createMc.des_write %></div> -->
              </div>
              <div class="mc_title_r">
                <div class="maxLength" data-input="description">
                  <span>0</span>/500
                </div>
              </div>
            </div>
            <textarea type="text" label="description" placeholder="<%- aiGirlFriend.createMc.des_placeholder %>"
              class="whiteMeOut"></textarea>
            <div class="erorrTip" data-type="description">
              <img src="/dist/img/aiFriend/icon_tip.svg" alt="">
              <span class="image_error"><%- aiGirlFriend.createMc.des_error %></span>
            </div>
          </div>
          <!-- gender -->
          <div class="createMc_item isCreate">
            <div class="mc_title">
              <div class="mc_title_l">
                <div class="font"><%- aiGirlFriend.createMc.Gender_title %></div>
              </div>
              <div class="mc_title_r">
                <div class="maxLength" data-input="gender">
                  <span>0</span>/30
                </div>
              </div>
            </div>
            <input type="text" label="name" class="createMC_gender"
              placeholder="<%- aiGirlFriend.createMc.Gender_placeholder %>">
          </div>
          <!-- persona -->
          <div class="createMc_item isEdit">
            <div class="mc_title">
              <div class="mc_title_l">
                <div class="font required"><%- aiGirlFriend.createMc.Persona_title %></div>
                <div class="tip">
                  <img src="/dist/img/aiFriend/btn_tips.svg" alt="">
                  <div class="tip_box">
                    <%- aiGirlFriend.createMc.Persona_tip %>
                  </div>
                </div>
              </div>
              <div class="mc_title_r">
                <div class="maxLength" data-input="persona">
                  <span>0</span>/500
                </div>
              </div>
            </div>
            <textarea type="text" label="persona" placeholder="<%- aiGirlFriend.createMc.Persona_placeholder %>"
              class="createMC_persona"></textarea>
            <div class="erorrTip" data-type="persona">
              <img src="/dist/img/aiFriend/icon_tip.svg" alt="">
              <span class="image_error"><%- aiGirlFriend.createMc.Persona_lack %></span>
            </div>
          </div>
          <!-- Greeting -->
          <div class="createMc_item isEdit">
            <div class="mc_title">
              <div class="mc_title_l">
                <div class="font required"><%- aiGirlFriend.createMc.Greeting_title %></div>
                <div class="tip">
                  <img src="/dist/img/aiFriend/btn_tips.svg" alt="">
                  <div class="tip_box">
                    <%- aiGirlFriend.createMc.Greeting_tip %>
                  </div>
                </div>
              </div>
              <div class="mc_title_r">
                <div class="maxLength" data-input="Greeting">
                  <span>0</span>/330
                </div>
              </div>
            </div>
            <textarea type="text" placeholder="<%- aiGirlFriend.createMc.Greeting_placeholder %>" wrap="hard"
              class="createMC_Greeting"></textarea>
            <div class="erorrTip" data-type="Greeting">
              <img src="/dist/img/aiFriend/icon_tip.svg" alt="">
              <span class="image_error"><%- aiGirlFriend.createMc.Greeting_lack %></span>
            </div>
          </div>
          <!-- Scenario -->
          <div class="createMc_item isEdit">
            <div class="mc_title">
              <div class="mc_title_l">
                <div class="font required"><%- aiGirlFriend.createMc.Scenario_title %></div>
                <div class="tip">
                  <img src="/dist/img/aiFriend/btn_tips.svg" alt="">
                  <div class="tip_box">
                    <%- aiGirlFriend.createMc.Scenario_tip %>
                  </div>
                </div>
              </div>
              <div class="mc_title_r">
                <div class="maxLength" data-input="Scenario">
                  <span>0</span>/500
                </div>
              </div>
            </div>
            <textarea type="text" placeholder="<%- aiGirlFriend.createMc.Scenario_placeholder %>"
              class="createMC_Scenario"></textarea>
            <div class="erorrTip" data-type="Scenario">
              <img src="/dist/img/aiFriend/icon_tip.svg" alt="">
              <span class="image_error"><%- aiGirlFriend.createMc.Scenario_lack %></span>
            </div>
          </div>
          <!-- Dialogue -->
          <div class="createMc_item isEdit">
            <div class="mc_title">
              <div class="mc_title_l">
                <div class="font"><%- aiGirlFriend.createMc.Dialogue_title %></div>
                <div class="tip">
                  <img src="/dist/img/aiFriend/btn_tips.svg" alt="">
                  <div class="tip_box">
                    <%- aiGirlFriend.createMc.Dialogue_tip %>
                  </div>
                </div>
              </div>
              <div class="mc_title_r">
                <div class="maxLength" data-input="Dialogue">
                  <span>0</span>/700
                </div>
              </div>
            </div>
            <div class="mc_des">
              <%- aiGirlFriend.createMc.Dialogue_tip2 %>
            </div>
            <textarea type="text" placeholder="<%- aiGirlFriend.createMc.Dialogue_placeholder %>"
              class="createMC_Dialogue"></textarea>
          </div>
          <!-- Character visibility -->
          <div class="createMc_item isEdit">
            <div class="mc_title">
              <div class="mc_title_l">
                <div class="font"><%- aiGirlFriend.createMc.visibility_title %></div>
                <div class="tip">
                  <img src="/dist/img/aiFriend/btn_tips.svg" alt="">
                  <div class="tip_box">
                    <%- aiGirlFriend.createMc.visibility_tip %>
                  </div>
                </div>
              </div>
            </div>
            <div class="createMc_select chatSelect">
              <div class="select_content"><%- aiGirlFriend.classifySelect.Public %></div>
              <div class="select_icon"></div>
              <div class="select_list">
                <div class="select_list_item active" data-type="Public"><%- aiGirlFriend.classifySelect.Public %></div>
                <div class="select_list_item" data-type="Private"><%- aiGirlFriend.classifySelect.Private %></div>
              </div>
            </div>
          </div>
          <!-- Categories -->
          <div class="createMc_item isEdit Categories">
            <div class="mc_title">
              <div class="mc_title_l">
                <div class="font required"><%- aiGirlFriend.createMc.Categories_title %></div>
                <div class="checkNum"><%- aiGirlFriend.createMc.Categories_tip0 %></div>
              </div>
            </div>
            <div class="createMc_checkbox"></div>
            <div class="erorrTip" data-type="Categories">
              <img src="/dist/img/aiFriend/icon_tip.svg" alt="">
              <span class="image_error"><%- aiGirlFriend.createMc.Categories_lack %></span>
            </div>
          </div>

          <div class="createMc_item btn">
            <div class="mc_btn discard">
              <%- aiGirlFriend.createMc.mc_btn_discard %>
            </div>
            <div class="mc_btn draft isEdit" id="draftMc">
              <div class="draft_loading">
                <img src="/dist/img/aiFriend/icon_loading_white.svg" alt="" class="">
              </div>
              <%- aiGirlFriend.createMc.mc_btn_draft %>
            </div>
            <div class="mc_btn_create  isCreate" id="createMc">
              <div class="createMc_loading">
                <img src="/dist/img/aiFriend/icon_loading.svg" alt="">
              </div>
              <%- aiGirlFriend.createMc.mc_btn_createMc %>
            </div>
            <div class="mc_btn_create isEdit" id="editMc">
              <div class="createMc_loading">
                <img src="/dist/img/aiFriend/icon_loading.svg" alt="">
              </div>
              <%- aiGirlFriend.createMc.mc_btn_publish %>
            </div>
          </div>
        </div>
      </div>
      <!-- loading -->
      <lottie-player class="Mycharacters_loading" src="/dist/img/aiFriend/loading.json" background="transparent"
        speed="1" loop autoplay></lottie-player>
    </div>
    <!-- <div class="voicePoolBox">
      <div class="normal_hr">
        <div class="hr_title"><%- aiGirlFriend.voicePoolHr %></div>
      </div>
      <div class="voicePool_box"></div>
      <div class="voiceBtnCreate"><%- aiGirlFriend.addVoiceBtn %></div>
      <lottie-player class="voicePoolBox_loading" src="/dist/img/aiFriend/loading.json" background="transparent"
        speed="1" loop autoplay></lottie-player>
    </div> -->
    <audio style="display: none;" id="voice_type"></audio>
    <audio style="display: none;" id="voicePool_type"></audio>
  </div>
  <div class="ai-chat-box" id="AiChat" style="display: none">
    <div class="ai-chat-container">
      <div class="transparent-header"></div>
      <div class="chat_loading">
        <img src="/dist/img/ai-chatting/chat_loading.svg" alt="">
      </div>
      <div class="transparent">
        <div class="transparent-top"></div>
        <div class="transparent-bottom"></div>
      </div>
      <div class="ai-chat-title">
        <img class="ai-chat-gf-avatar" src="" alt="avatar">
        <div>
          <div class="ai-chat-gf-name">
            <!--   -->
          </div>
          <div class="ai-chat-gf-view">
            <img src="/dist/img/ai-chatting/icon_view.svg" alt="chat icon">
            <span>
              <%= aiGirlFriendChat.viewMore %>
            </span>
            <img class="ai-chat-gf-view-arrow" src="/dist/img/ai-chatting/icon_right.svg" alt="chat icon">
          </div>
        </div>
      </div>
      <div class="ai-gf-info-dialog-wrap">
        <div class="ai-gf-info-dialog-bg"></div>

        <div class="ai-gf-audio-limit-dialog">
          <div class="ai-gf-info-dialog-close-btn ai-gf-info-dialog-close">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="14"
              viewBox="0 0 20 20">
              <defs>
                <clipPath id="clip-path">
                  <rect id="Rectangle_31667" data-name="Rectangle 31667" width="20" height="20"
                    transform="translate(711 370)" fill="#fff" stroke="#707070" stroke-width="1" />
                </clipPath>
              </defs>
              <g id="icon_close" transform="translate(-711 -370)" clip-path="url(#clip-path)">
                <g id="Group_13797" data-name="Group 13797" transform="translate(716 375)">
                  <path id="Path_158819" data-name="Path 158819" d="M-8171.114,3374.287l10,10"
                    transform="translate(8171.114 -3374.287)" fill="none" stroke="#cfcfcf" stroke-linecap="round"
                    stroke-width="2" />
                  <path id="Path_158820" data-name="Path 158820" d="M-8161.114,3374.287l-10,10"
                    transform="translate(8171.114 -3374.287)" fill="none" stroke="#cfcfcf" stroke-linecap="round"
                    stroke-width="2" />
                </g>
              </g>
            </svg>
          </div>
          <div class="audio-limit-banner">
            <picture>
              <source media="(min-width: 1201px)" srcset="/dist/img/ai-chatting/limit-audio-pc@2x.png">
              <source media="(max-width: 1200px)" srcset="/dist/img/ai-chatting/limit-audio-m.png">
              <img src="/dist/img/ai-chatting/limit-audio-pc@2x.png" alt="limit banner">
            </picture>
          </div>
          <div class="audio-limit-content">
            <div class="audio-limit-title">
              <%- aiGirlFriendChat.audioLimitTitle %>
            </div>
            <div class="audio-limit-desc">
              <!--      -->
            </div>
            <div style="flex: 1"></div>
            <div class="audio-limit-btn ai-gf-info-dialog-close">
              <%= aiGirlFriendChat.audioLimitBtn %>
            </div>
          </div>
        </div>

        <div class="ai-gf-info-dialog">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="14"
            viewBox="0 0 20 20" class="ai-gf-info-dialog-close">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_31667" data-name="Rectangle 31667" width="20" height="20"
                  transform="translate(711 370)" fill="#fff" stroke="#707070" stroke-width="1" />
              </clipPath>
            </defs>
            <g id="icon_close" transform="translate(-711 -370)" clip-path="url(#clip-path)">
              <g id="Group_13797" data-name="Group 13797" transform="translate(716 375)">
                <path id="Path_158819" data-name="Path 158819" d="M-8171.114,3374.287l10,10"
                  transform="translate(8171.114 -3374.287)" fill="none" stroke="#cfcfcf" stroke-linecap="round"
                  stroke-width="2" />
                <path id="Path_158820" data-name="Path 158820" d="M-8161.114,3374.287l-10,10"
                  transform="translate(8171.114 -3374.287)" fill="none" stroke="#cfcfcf" stroke-linecap="round"
                  stroke-width="2" />
              </g>
            </g>
          </svg>
          <div class="ai-gf-info-dialog-top">
            <img src="" alt="avatar" class="ai-gf-info-dialog-avatar">
            <div class="ai-gf-info-dialog-msg-wrap">
              <div class="ai-gf-info-dialog-name">
                <!--    -->
              </div>
              <div class="ai-gf-info-dialog-msg">
                <span class="chatting-count">
                  <!--    -->
                </span>
                <span class="ai-gf-info-dialog-birthday">
                  <!--    -->
                </span>
              </div>
            </div>
          </div>
          <div class="ai-gf-info-dialog-tools">
            <div class="chat-btn-bg chatting-like">
              <img src="/dist/img/ai-chatting/icon_heart.svg" alt="default like icon" class="no-like-icon" />
              <img src="/dist/img/ai-chatting/icon_heart_like.svg" alt="like-icon" class="like-icon" />
            </div>
            <div class="chat-btn-bg chatting-share">
              <img src="/dist/img/ai-chatting/icon_share.svg" alt="share icon" />
            </div>
          </div>
          <div class="ai-gf-info-dialog-line">
            <span>
              <%= aiGirlFriendChat.intro %>
            </span>
          </div>
          <div class="ai-gf-info-dialog-tags">
            <!--    -->
          </div>
          <div class="ai-gf-info-dialog-desc">
            <!--    -->
          </div>
          <div class="ai-gf-info-dialog-footer">
            <div class="ai-gf-info-dialog-close ai-gf-info-dialog-btn">OK</div>
          </div>
        </div>
      </div>
      <div class="back-icon-box chat-btn-bg" id="backIcon">
        <img src="/dist/img/ai-chatting/icon_back.svg" />
        <%= aiGirlFriendChat.back %>
      </div>
      <div class="change-photo-btn" id="changePhotoBtn">
        <%= aiGirlFriendChat.changePhoto %>
      </div>
      <div class="chat-bg-img" id="chatBgImg"></div>
      <div class="right-buttons-box">
        <div class="btn chat-btn-bg chatting-like" id="likeRoleId">
          <img src="/dist/img/ai-chatting/icon_heart.svg" alt="" class="no-like-icon" />
          <img src="/dist/img/ai-chatting/icon_heart_like.svg" alt="like-icon" class="like-icon" />
        </div>
        <div class="btn chat-btn-bg chat-btn-setting">
          <img src="/dist/img/ai-chatting/icon_more.svg" alt="" class="chat-btn-icon" />
          <div class="chatting-setting">
            <div class="setting-radio">
              <div class="audio_text">
                <%= aiGirlFriendChat.fullScreen %>
              </div>
              <div class="audio_btn screen">
                <div class="icon"></div>
              </div>
            </div>
            <div class="setting-radio">
              <div class="audio_text">
                <%= aiGirlFriendChat.hideBackground %>
              </div>
              <div class="audio_btn bg">
                <div class="icon"></div>
              </div>
            </div>
            <hr>
            <div class="setting-item chatting-newChat">
              <img src="/dist/img/ai-chatting/icon_chat.svg" alt="" class="item_icon" />
              <%- aiGirlFriendChat.newChat %>
            </div>
            <div class="setting-item chatting-restart">
              <img src="/dist/img/ai-chatting/icon_restart.svg" alt="" class="item_icon" />
              <%- aiGirlFriendChat.resetChat %>
            </div>
            <div class="setting-item chatting-like mobile_show">
              <img src="/dist/img/ai-chatting/icon_heart.svg" alt="" class="no-like-icon item_icon" />
              <img src="/dist/img/ai-chatting/icon_heart_like.svg" alt="like-icon" class="like-icon item_icon" />
              <span><%- aiGirlFriendChat.share %></span>
            </div>
            <div class="setting-item chatting-share">
              <img src="/dist/img/ai-chatting/icon_share.svg" alt="" class="item_icon" />
              <%- aiGirlFriendChat.shareChat %>
            </div>
          </div>
        </div>
        <div class="btn chat-btn-bg close-btn" id="closeIcon">
          <img src="/dist/img/ai-chatting/icon_close.svg" alt="" />
        </div>
      </div>
      <!-- chatting box-->
      <div class="chatting-box" id="chattingBox">
        <div class="chatting-container mask-to-transparent" id="chattingContainer"></div>
        <div class="chatting-input-box">
          <div class="change-position-box">
            <div class="change-position-title">
              <%= aiGirlFriendChat.chatPosition %>
            </div>
            <div class="change-btns-box">
              <div id="changeBtnLeft" class="change-btn">
                <img src="/dist/img/ai-chatting/btn_left.svg" alt="" />
              </div>
              <div id="changeBtnMiddle" class="change-btn change-active">
                <img src="/dist/img/ai-chatting/btn_down.svg" alt="" />
              </div>
              <div id="changeBtnRight" class="change-btn">
                <img src="/dist/img/ai-chatting/btn_right.svg" alt="" />
              </div>
            </div>
          </div>
          <img src="/dist/img/ai-chatting/btn_setting_normal.svg" alt="" id="editIcon" />
          <textarea class="chatting-input" placeholder="<%= aiGirlFriendChat.placeholder %>" id="userInputMsg"
            maxlength="500"></textarea>
          <div class="send-btn disable" id="sendMsg">
            <%= aiGirlFriendChat.send %>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden-box">
      <div class="login-popup-close-btn"></div>

      <div class="my-message-box item" id="myMessageBox">
        <div class="my-message-container"></div>
        <div class="img-container">
          <img src="/dist/img/ai-chatting/chat-bg.png" alt="" id="myAvatarImg" />
        </div>
      </div>

      <div class="ai-message-box item" id="aiMessageBox">
        <div class="img-container">
          <img src="/dist/img/ai-chatting/chat-bg.png" alt="" id="aiAvatarImg" class="aiAvatarImg" />
        </div>
        <div class="ai-message-container">
        </div>
      </div>

    </div>
  </div>
  <lottie-player class="voicePoolBox_banner" src="/dist/img/aiFriend/voicePoolBox_banner.json" background="transparent" speed="1"
    loop autoplay></lottie-player>
  <div class="hr_pagePorgress"></div>
  <!-- seo -->
  <div class="aiGirlFriendSeo scroll-animation">
    <div class="seo_section sectionA">
      <h2 class="delay1 showup"><%- aiGirlFriendSeo.section1.h2 %></h2>
      <div class="sectionA_btn showup delay2">
        <div class="sectionA_btn_Box">
          <div class="seo_btn sectionbtn_A"><%- aiGirlFriendSeo.btn %></div>
        </div>
      </div>
      <div class="sectionA_box pc_show showup delay3">
        <div class="sectionA_item">
          <img src="/dist/img/aiFriend/icon_intimate_companion.png" alt="" />
          <div class="sectionA_title"><%- aiGirlFriendSeo.section1.text1 %></div>
          <div class="sectionA_des"><%- aiGirlFriendSeo.section1.text2 %></div>
        </div>
        <div class="sectionA_item">
          <img src="/dist/img/aiFriend/icon_ai_chatbot.png" alt="" />
          <div class="sectionA_title"><%- aiGirlFriendSeo.section1.text3 %></div>
          <div class="sectionA_des"><%- aiGirlFriendSeo.section1.text4 %></div>
        </div>
        <div class="sectionA_item">
          <img src="/dist/img/aiFriend/icon_ai_provocative.png" alt="" />
          <div class="sectionA_title"><%- aiGirlFriendSeo.section1.text5 %></div>
          <div class="sectionA_des"><%- aiGirlFriendSeo.section1.text6 %></div>
        </div>
        <div class="sectionA_item">
          <img src="/dist/img/aiFriend/icon_ai_girlfriend_simulator.png" alt="" />
          <div class="sectionA_title"><%- aiGirlFriendSeo.section1.text7 %></div>
          <div class="sectionA_des"><%- aiGirlFriendSeo.section1.text8 %></div>
        </div>
        <div class="sectionA_item">
          <img src="/dist/img/aiFriend/icon_straight.png" alt="" />
          <div class="sectionA_title"><%- aiGirlFriendSeo.section1.text9 %></div>
          <div class="sectionA_des"><%- aiGirlFriendSeo.section1.text10 %></div>
        </div>
        <div class="sectionA_item">
          <img src="/dist/img/aiFriend/icon_more.png" alt="" />
          <div class="sectionA_title"><%- aiGirlFriendSeo.section1.text11 %></div>
          <div class="sectionA_des"><%- aiGirlFriendSeo.section1.text12 %></div>
        </div>
      </div>
      <div class="sectionA_box mobile_show showup delay3">
        <div class="slideA_box active">
          <div class="sectionA_item ">
            <img src="/dist/img/aiFriend/icon_intimate_companion.png" alt="" />
            <div class="sectionA_title"><%- aiGirlFriendSeo.section1.text1 %></div>
            <div class="sectionA_des"><%- aiGirlFriendSeo.section1.text2 %></div>
          </div>
          <div class="sectionA_item">
            <img src="/dist/img/aiFriend/icon_ai_chatbot.png" alt="" />
            <div class="sectionA_title"><%- aiGirlFriendSeo.section1.text3 %></div>
            <div class="sectionA_des"><%- aiGirlFriendSeo.section1.text4 %></div>
          </div>
        </div>
        <div class="slideA_box">
          <div class="sectionA_item">
            <img src="/dist/img/aiFriend/icon_ai_provocative.png" alt="" />
            <div class="sectionA_title"><%- aiGirlFriendSeo.section1.text5 %></div>
            <div class="sectionA_des"><%- aiGirlFriendSeo.section1.text6 %></div>
          </div>
          <div class="sectionA_item">
            <img src="/dist/img/aiFriend/icon_ai_girlfriend_simulator.png" alt="" />
            <div class="sectionA_title"><%- aiGirlFriendSeo.section1.text7 %></div>
            <div class="sectionA_des"><%- aiGirlFriendSeo.section1.text8 %></div>
          </div>
        </div>
        <div class="slideA_box">
          <div class="sectionA_item">
            <img src="/dist/img/aiFriend/icon_straight.png" alt="" />
            <div class="sectionA_title"><%- aiGirlFriendSeo.section1.text9 %></div>
            <div class="sectionA_des"><%- aiGirlFriendSeo.section1.text10 %></div>
          </div>
          <div class="sectionA_item">
            <img src="/dist/img/aiFriend/icon_more.png" alt="" />
            <div class="sectionA_title"><%- aiGirlFriendSeo.section1.text11 %></div>
            <div class="sectionA_des"><%- aiGirlFriendSeo.section1.text12 %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="aiGirlFriendSeo sectionB scroll-animation">
    <div class="seo_section sectionB">
      <h2 class="delay1 showup"><%- aiGirlFriendSeo.section2.h2 %></h2>
      <div class="seo_btn sectionbtn_B delay2 showup"><%- aiGirlFriendSeo.btn %></div>
      <lottie-player src="/dist/img/aiGirlFriendSeo/date.json/big_banner1/data.json" background="transparent" speed="1"
        class="bannerA pc_show" id="big_banner1">
      </lottie-player>
      <lottie-player src="/dist/img/aiGirlFriendSeo/date.json/big_banner2/data.json" background="transparent" speed="1"
        class="bannerB pc_show" id="big_banner2">
      </lottie-player>
      <div class="swiper_banner mobile_show">
        <img src="/dist/img/aiGirlFriendSeo/icon_banner1.png" alt="">
      </div>
    </div>
  </div>
  <div class="aiGirlFriendSeo scroll-animation">
    <div class="seo_section sectionC ">
      <h2 class="delay2 showup"><%- aiGirlFriendSeo.section3.h2 %></h2>
      <div class="sectionC_box">
        <div class="sectionChat delay3 showup">
          <lottie-player src="/dist/img/aiGirlFriendSeo/date.json/line1/data.json" background="transparent" speed="1"
            class="lineA pc_show" id="line1">
          </lottie-player>
          <img src="/dist/img/aiGirlFriendSeo/icon_line2.png" alt="" class="lineA mobile_show" />
          <div class="title "><%- aiGirlFriendSeo.section3.text1 %></div>
          <div class="seo_btn sectionbtn_C_1"><%- aiGirlFriendSeo.btnStart %></div>
          <div class="chatContent ">
            <lottie-player src="/dist/img/aiGirlFriendSeo/date.json/take/data.json" background="transparent" speed="1"
              class="take " id="take">
            </lottie-player>
          </div>
        </div>
        <div class="sectionC_img delay3 showup">
          <div class="secitonC_img_box">
            <img src="/dist/img/aiGirlFriendSeo/photo_unlimited_messages2.png" alt="" class="msg2_img" />
            <img src="/dist/img/aiGirlFriendSeo/photo_unlimited_messages1.png" alt="" class="msg1_img active" />
          </div>
          <div class="sectionC_btn">
            <div class="c_title"><%- aiGirlFriendSeo.section3.text2 %></div>
            <div class="seo_btn sectionbtn_C_2"><%- aiGirlFriendSeo.btn %></div>
          </div>
          <lottie-player src="/dist/img/aiGirlFriendSeo/date.json/line2/data.json" background="transparent" speed="1"
            class="lineB pc_show" id="line2">
          </lottie-player>
        </div>
      </div>
    </div>
  </div>
  <div class="aiGirlFriendSeo sectionD scroll-animation">
    <div class="seo_section sectionD ">
      <div class="mobile_show secitonD_control delay4 showup">
        <h2><%- aiGirlFriendSeo.section4.h2 %></h2>
        <div class="control_box">
          <div class="control_icon">
            <div class="control_item active" data-index="1"></div>
            <div class="control_item" data-index="2"></div>
            <div class="control_item" data-index="3"></div>
            <div class="control_item" data-index="4"></div>
          </div>
          <div class="control_title active" data-index="1"><%- aiGirlFriendSeo.section4.text1 %></div>
          <div class="control_title" data-index="2"><%- aiGirlFriendSeo.section4.text2 %></div>
          <div class="control_title" data-index="3"><%- aiGirlFriendSeo.section4.text3 %></div>
          <div class="control_title" data-index="4"><%- aiGirlFriendSeo.section4.text4 %></div>
        </div>
      </div>
      <div class="sectionD_box ">
        <div class="box_l delay4 showup">
          <div class="l_container pc_show">
            <div class="l_item active" data-index="1">
              <div class="icon_box">
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
              </div>
              <div class="item_title"><%- aiGirlFriendSeo.section4.text1 %></div>
            </div>
            <div class="l_item" data-index="2">
              <div class="icon_box">
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
              </div>
              <div class="item_title"><%- aiGirlFriendSeo.section4.text2 %></div>
            </div>
            <div class="l_item" data-index="3">
              <div class="icon_box">
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
                <div class="icon_item"></div>
              </div>
              <div class="item_title"><%- aiGirlFriendSeo.section4.text3 %></div>
            </div>
            <div class="l_item" data-index="4">
              <div class="icon_box">
                <div class="icon_item"></div>
              </div>
              <div class="item_title"><%- aiGirlFriendSeo.section4.text4 %></div>
            </div>
            <div class="seo_btn sectionbtn_D"><%- aiGirlFriendSeo.btn %></div>
          </div>
        </div>
        <div class="box_banner delay4 showup">
          <img src="/dist/img/aiGirlFriendSeo/step1_photo.png" alt="" class="">
        </div>
        <div class="box_r delay4 showup">
          <div class="line pc_show"></div>
          <h2 class="pc_show"><%- aiGirlFriendSeo.section4.h2 %></h2>
        </div>
      </div>
      <div class="seo_btn mobile_show sectionbtn_D"><%- aiGirlFriendSeo.btn %></div>

    </div>
  </div>
  <div class="aiGirlFriendSeo sectionE scroll-animation">
    <div class="seo_section sectionE">
      <h2 class="delay1 showup"><%- aiGirlFriendSeo.section5.h2 %></h2>
      <div class="msg">
        <div class="msg2">
          <lottie-player src="/dist/img/aiGirlFriendSeo/date.json/message2/data.json" background="transparent" speed="1"
            class="message2" id="message2">
          </lottie-player>
          <div class="e_title delay7 showup pc_show"><%- aiGirlFriendSeo.section5.text3 %> <%- aiGirlFriendSeo.section5.text3_1 %></div>
          <div class="e_title delay7 showup mobile_show"><%- aiGirlFriendSeo.section5.text3 %><br><%- aiGirlFriendSeo.section5.text3_1 %></div>
          <div class="e_des delay12 showup"><%- aiGirlFriendSeo.section5.text4 %></div>
        </div>
        <div class="msg1">
          <lottie-player src="/dist/img/aiGirlFriendSeo/date.json/message1/data.json" background="transparent" speed="1"
            class="message1" id="message1">
          </lottie-player>
          <div class="e_title delay7 showup"><%- aiGirlFriendSeo.section5.text1 %></div>
          <div class="e_des delay12 showup"><%- aiGirlFriendSeo.section5.text2 %></div>
          <div class="seo_btn pc_show delay12 showup"><%- aiGirlFriendSeo.btnMore %></div>
          <lottie-player src="/dist/img/aiGirlFriendSeo/date.json/line3/data.json" background="transparent" speed="1"
            class="line3 pc_show" id="line3">
          </lottie-player>
        </div>
      </div>
    </div>
  </div>
  <div class="aiGirlFriendSeo sectionF  scroll-animation">
    <div class="seo_section sectionF ">
      <h2 class="delay1 showup"><%- aiGirlFriendSeo.section6.h2 %></h2>
      <div class="sex_box delay3 showup">
        <div class="text_container">
          <div class="text_item active">
            <%- aiGirlFriendSeo.section6.text1 %>
          </div>
          <div class="text_item">
            <%- aiGirlFriendSeo.section6.text2 %>
          </div>
          <div class="text_item">
            <%- aiGirlFriendSeo.section6.text3 %>
          </div>
          <div class="text_item">
            <%- aiGirlFriendSeo.section6.text4 %>
          </div>
          <div class="text_item">
            <%- aiGirlFriendSeo.section6.text5 %>
          </div>
          <div class="seo_btn sectionbtn_F pc_show"><%- aiGirlFriendSeo.btn %></div>
        </div>
        <div class="image_container">
          <img src="/dist/img/aiGirlFriendSeo/iconSex_1.png" class="active" alt="1">
          <img src="/dist/img/aiGirlFriendSeo/iconSex_2.png" alt="2">
          <img src="/dist/img/aiGirlFriendSeo/iconSex_3.png" alt="3">
          <img src="/dist/img/aiGirlFriendSeo/iconSex_4.png" alt="4">
          <img src="/dist/img/aiGirlFriendSeo/iconSex_5.png" alt="5">
        </div>
      </div>
      <div class="seo_btn sectionbtn_F mobile_show delay3 showup"><%- aiGirlFriendSeo.btn %></div>
      <div class="sex_banner ">
        <lottie-player src="/dist/img/aiGirlFriendSeo/date.json/abc_bg/data.json" background="transparent" speed="0.8"
          class="sex_banner_json pc_show" id="abc_bg">
        </lottie-player>
        <div class="icon_abc_bg delay3 showup"></div>
        <div class="main_box">
          <div class="main_title delay8 showup"><%- aiGirlFriendSeo.section6.text6 %></div>
          <div class="main_des delay8 showup"><%- aiGirlFriendSeo.section6.text7 %></div>
        </div>
        <div class="A_box">
          <div class="title delay6 showup"><%- aiGirlFriendSeo.section6.text8 %></div>
          <div class="des delay6 showup"><%- aiGirlFriendSeo.section6.text9 %></div>
        </div>
        <div class="B_box">
          <div class="title delay15 showup"><%- aiGirlFriendSeo.section6.text10 %></div>
          <div class="des delay15 showup"><%- aiGirlFriendSeo.section6.text11 %></div>
        </div>
        <div class="C_box">
          <div class="title delay20 showup"><%- aiGirlFriendSeo.section6.text12 %></div>
          <div class="des delay20 showup"><%- aiGirlFriendSeo.section6.text13 %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="aiGirlFriendSeo sectionG scroll-animation">
    <div class="seo_section sectionG micro-test-faq delay2 showup">
      <h2><%- aiGirlFriendSeo.section7.h2 %></h2>

      <div class="micro-test-faq-list showup delay2">
        <div class="micro-test-faq-item active">
          <p class="css-h3 micro-test-faq-name">
            <%= aiGirlFriendSeo.section7.text1 %>
          </p>
          <div class="css-p micro-test-faq-desc" style="display: block">
            <p class="css-p">
              <%= aiGirlFriendSeo.section7.text2 %>
            </p>
          </div>
        </div>
        <div class="micro-test-faq-item">
          <p class="css-h3 micro-test-faq-name">
            <%= aiGirlFriendSeo.section7.text3 %>
          </p>
          <div class="css-p micro-test-faq-desc">
            <p class="css-p">
              <%= aiGirlFriendSeo.section7.text4 %>
            </p>
          </div>
        </div>
        <div class="micro-test-faq-item">
          <p class="css-h3 micro-test-faq-name">
            <%= aiGirlFriendSeo.section7.text5 %>
          </p>
          <div class="css-p micro-test-faq-desc">
            <p class="css-p">
              <%= aiGirlFriendSeo.section7.text6 %>
            </p>
          </div>
        </div>
        <div class="micro-test-faq-item">
          <p class="css-h3 micro-test-faq-name">
            <%= aiGirlFriendSeo.section7.text7 %>
          </p>
          <div class="css-p micro-test-faq-desc">
            <p class="css-p">
              <%= aiGirlFriendSeo.section7.text8 %>
            </p>
          </div>
        </div>
        <div class="micro-test-faq-item">
          <p class="css-h3 micro-test-faq-name">
            <%= aiGirlFriendSeo.section7.text9 %>
          </p>
          <div class="css-p micro-test-faq-desc">
            <p class="css-p">
              <%= aiGirlFriendSeo.section7.text10 %>
            </p>
          </div>
        </div>
        <div class="micro-test-faq-item">
          <p class="css-h3 micro-test-faq-name">
            <%= aiGirlFriendSeo.section7.text11 %>
          </p>
          <div class="css-p micro-test-faq-desc">
            <p class="css-p">
              <%= aiGirlFriendSeo.section7.text12 %>
            </p>
          </div>
        </div>
        <div class="micro-test-faq-item">
          <p class="css-h3 micro-test-faq-name">
            <%= aiGirlFriendSeo.section7.text13 %>
          </p>
          <div class="css-p micro-test-faq-desc">
            <p class="css-p">
              <%= aiGirlFriendSeo.section7.text14 %>
            </p>
          </div>
        </div>
        <div class="micro-test-faq-item">
          <p class="css-h3 micro-test-faq-name">
            <%= aiGirlFriendSeo.section7.text15 %>
          </p>
          <div class="css-p micro-test-faq-desc">
            <p class="css-p">
              <%= aiGirlFriendSeo.section7.text16 %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="aiGirlFriendSeo seo_footer scroll-animation">
    <div class="seo_section seo_footer delay2 showup">
      <div class="seo_footer_box">
        <h2><%- aiGirlFriendSeo.seo_footer.h2 %></h2>
        <div class="seo_footer_des pc_show"><%- aiGirlFriendSeo.seo_footer.text %></div>
        <div class="seo_btn sectionFooter_btn"><%- aiGirlFriendSeo.seo_footer.btn %></div>
      </div>
      <div class="seo_girl">
        <img src="/dist/img/aiGirlFriendSeo/banenr_girls.png" alt="">
      </div>
    </div>
  </div>
  <!-- shareBox -->
  <div class="sharePop" style="display: none">
    <div class="shareTitle">
      <div class="shareIcon"></div>
      <%= aiGirlFriend.share %>
    </div>
    <div class="shareBox">
      <div class="shareText">
        <%= aiGirlFriend.shareContent %>
      </div>
      <div class="shareLink">
        <div class="share_item">
          <div class="shareIco x"></div>
          <%= aiGirlFriend.X %>
        </div>
        <div class="share_item">
          <div class="shareIco facebook"></div>
          <%= aiGirlFriend.Facebook %>
        </div>
        <div class="share_item">
          <div class="shareIco Link"></div>
          <%= aiGirlFriend.Link %>
        </div>
      </div>
    </div>
  </div>
  <!-- createMC whiteMe -->
  <div class="whiteMeContent" style="display: none">
    <div class="whiteMeDes"><%- aiGirlFriend.createMc.writeMe_des %></div>
    <textarea type="text" class="whiteMe" placeholder="<%- aiGirlFriend.createMc.writeMe_placeholder %>"></textarea>
  </div>
  <!-- editUserInfo -->
  <div class="editUserInfo" style="display: none">
    <!-- image -->
    <div class="createMc_item image">
      <!-- avatar -->
      <div class="item_avatar">
        <div class="mc_title">
          <div class="mc_title_l">
            <div class="font required"><%- aiGirlFriend.editUser.userTitle %></div>
          </div>
        </div>
        <div class="mc_des">
          <%- aiGirlFriend.createMc.avatar_des %>
        </div>
        <div class="avatar editUser">
          <input type="file" style="display: none;" id="editUserAvatar" accept=".jpg, .png, .webp, .jpeg">
          <div class="image_item">
            <div class="delete_image"></div>
            <img src="" alt="" id="edit_user_avatar">
          </div>
          <div class="addImage">
            <img src="/dist/img/aiFriend/btn_set_normal.svg" alt="">
            <span><%- aiGirlFriend.createMc.avatar_btnSet %></span>
          </div>
        </div>
        <div class="erorrTip" data-type="editUserAvatar">
          <img src="/dist/img/aiFriend/icon_tip.svg" alt="">
          <span class="image_error"></span>
        </div>
      </div>
    </div>
    <!-- name -->
    <div class="editName">
      <div class="createMc_item">
        <div class="mc_title">
          <div class="mc_title_l">
            <div class="font required"><%- aiGirlFriend.editUser.firstNameTitle %></div>
          </div>
        </div>
        <input type="text" label="name" class="editUser_firstName"
          placeholder="<%- aiGirlFriend.editUser.firstname_placeholder %>">
        <div class="erorrTip" data-type="editUser_firstName">
          <img src="/dist/img/aiFriend/icon_tip.svg" alt="">
          <span class="image_error"><%- aiGirlFriend.editUser.name_error %></span>
        </div>
      </div>
      <div class="createMc_item">
        <div class="mc_title">
          <div class="mc_title_l">
            <div class="font required"><%- aiGirlFriend.editUser.lastNameTitle %></div>
          </div>
        </div>
        <input type="text" label="name" class="editUser_lastName"
          placeholder="<%- aiGirlFriend.editUser.lastname_placeholder %>">
        <div class="erorrTip" data-type="editUser_lastName">
          <img src="/dist/img/aiFriend/icon_tip.svg" alt="">
          <span class="image_error"><%- aiGirlFriend.editUser.name_error %></span>
        </div>
      </div>
    </div>

    <!-- email -->
    <div class="createMc_item">
      <div class="mc_title">
        <div class="mc_title_l">
          <div class="font"><%- aiGirlFriend.editUser.emailTitle %></div>
        </div>
      </div>
      <input type="text" label="email" class="editUser_email disabled">
    </div>
    <!-- age -->
    <div class="createMc_item age">
      <div class="mc_title">
        <div class="mc_title_l">
          <div class="font"><%- aiGirlFriend.editUser.ageTitle %></div>
        </div>
      </div>
      <div class="editUserAge chatSelect">
        <div class="select_content" data-age="0"><%- aiGirlFriend.editUser.age_tip %></div>
        <div class="select_icon"></div>
        <div class="select_list">
          <div class="select_list_item" data-age="1-10">1-10</div>
          <div class="select_list_item" data-age="10-15">10-15</div>
          <div class="select_list_item" data-age="15-20">15-20</div>
          <div class="select_list_item" data-age="20-25">20-25</div>
          <div class="select_list_item" data-age="25-30">25-30</div>
          <div class="select_list_item" data-age="30-40">30-40</div>
          <div class="select_list_item" data-age="40-50">40-50</div>
          <div class="select_list_item" data-age="50+">50+</div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../patiles/footer.ejs'); -%>
    <script>const currentVersion = "<%= version %>"</script>
    <script type="text/javascript" src="/dist/js/flexible.min.js"></script>
    <script type="text/javascript" src="/dist/js/ai-friend-common.js?v=<%= version %>"></script>
    <script type="text/javascript" src="/dist/js/ai-girlfriend-common.js?v=<%= version %>"></script>
    <script type="text/javascript" src="/dist/js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/dist/js/ai-girlfriend.js?v=<%= version %>"></script>
    <script type="text/javascript" src="/dist/js/ai-girlfriend-talking.js?v=<%= version %>"></script>
    <script type="text/javascript" src="/dist/js/ai-girlfriend-seo.js?v=<%= version %>"></script>
    <script type="text/javascript" src="/dist/js/ai-girlfriend-popup.js?v=<%= version %>"></script>
    <script src="/dist/js/bottom-message/index.js" type="module"></script>
    <script src="/dist/js/lottie-player.js?t={$smarty.now}"></script>
    <!-- test tool -->
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>
      // if (location.host.includes("vidqu.ai") && location.host.includes("test") && judgeClient() != 'pc') {
        eruda.init();
      // }
    </script>
</body>

</html>