<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>
    <%= privacy.title %>
  </title>
  <meta name="description" content=" <%= privacy.description %> " />
  <meta name="keywords" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0,minimal-ui,viewport-fit=cover" />
  <link rel="icon" href="/dist/img/FS-favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/dist/css/auxiliary-page.css" />
  <link rel="canonical" href="https://es.vidqu.ai/privacy.html" />
  <link rel="alternate" hreflang="en" href="https://www.vidqu.ai/privacy.html" />
    <link rel="alternate" hreflang="fr" href="https://fr.vidqu.ai/privacy.html" />
    <link rel="alternate" hreflang="de" href="https://de.vidqu.ai/privacy.html" />
    <link rel="alternate" hreflang="es" href="https://es.vidqu.ai/privacy.html" />
    <link rel="alternate" hreflang="pt" href="https://pt.vidqu.ai/privacy.html" />
    <link rel="alternate" hreflang="ja" href="https://jp.vidqu.ai/privacy.html" />
    <link rel="alternate" hreflang="it" href="https://it.vidqu.ai/privacy.html" />
    <link rel="alternate" hreflang="ar" href="https://ar.vidqu.ai/privacy.html" />
    <link rel="alternate" hreflang="ko" href="https://ko.vidqu.ai/privacy.html" />
    <link rel="alternate" hreflang="zh-TW" href="https://tw.vidqu.ai/privacy.html" />
    <link rel="alternate" hreflang="x-default" href="https://www.vidqu.ai/privacy.html" />
  <%- include('../patiles/head'); -%>

</head>

<body>
  <%- include('../patiles/header'); -%>
  <main>
    <div class="auxiliary-wrapper">
      <h1><%- privacy.h1 -%></h1>
      <p><%- privacy.text1 -%></p>
      <p><%- privacy.text2 -%></p>
      <p><%- privacy.text3 -%></p>
      <p><%- privacy.text4 -%></p>
      <h4><%- privacy.HF1 -%></h4>
      <p><%- privacy.text5 -%></p>
      <h5><%- privacy.H51 -%></h5>
      <p><%- privacy.text6 -%></p>
      <ol>
        <li><%- privacy.text7 -%></li>
        <li><%- privacy.text8 -%></li>
        <li><%- privacy.text9 -%></li>
        <li><%- privacy.text10 -%></li>
        <li><%- privacy.text11 -%></li>
        <li><%- privacy.text12 -%></li>
      </ol>
      <h5><%- privacy.H52 -%></h5>
      <p><%- privacy.text13 -%></p>
      <p><%- privacy.text14 -%></p>
      <h5><%- privacy.H53 -%></h5>
      <p><%- privacy.text15 -%></p>
      <h5><%- privacy.H54 -%></h5>
      <p><%- privacy.text16 -%></p>
      <h5><%- privacy.H55 -%></h5>
      <p><%- privacy.text17 -%></p>
      <p><%- privacy.text18 -%></p>
      <p><%- privacy.text19 -%></p>
      <h5><%- privacy.H56 -%></h5>
      <p><%- privacy.text20 -%></p>
      <p><%- privacy.text21 -%></p>
      <h4><%- privacy.HF2 -%></h4>
      <p><%- privacy.text22 -%></p>
      <h4><%- privacy.HF3 -%></h4>
      <p><%- privacy.text23 -%></p>
      <ol>
        <li><%- privacy.text24 -%></li>
        <li><%- privacy.text25 -%></li>
        <li><%- privacy.text26 -%></li>
        <li><%- privacy.text27 -%></li>
        <li><%- privacy.text28 -%></li>
        <li><%- privacy.text29 -%></li>
      </ol>
      <p><%- privacy.text30 -%></p>
      <h4><%- privacy.HF4 -%></h4>
      <p><%- privacy.text31 -%></p>
      <h4><%- privacy.HF5 -%></h4>
      <p><%- privacy.text32 -%></p>
      <h4><%- privacy.HF6 -%></h4>
      <p><%- privacy.text33 -%></p>
      <h4><%- privacy.HF7 -%></h4>
      <p><%- privacy.text34 -%></p>
      <h4><%- privacy.HF8 -%></h4>
      <p><%- privacy.text35 -%></p>
      <p><%- privacy.text36 -%></p>
      <ol>
        <li><%- privacy.text37 -%></li>
        <li><%- privacy.text38 -%></li>
        <li><%- privacy.text39 -%></li>
        <li><%- privacy.text40 -%></li>
      </ol>
      <h4><%- privacy.HF9 -%></h4>
      <p><%- privacy.text41 -%></p>
      <h4><%- privacy.HF10 -%></h4>
      <p><%- privacy.text42 -%></p>
      <h4><%- privacy.HF11 -%></h4>
      <p><%- privacy.text43 -%></p>
      <h4><%- privacy.HF12 -%></h4>
      <p><%- privacy.text44 -%></p>
      <h4><%- privacy.HF13 -%></h4>
      <p><%- privacy.text45 -%></p>
      <p><%- privacy.text46 -%></p>
      <h4><%- privacy.HF14 -%></h4>
      <p><%- privacy.text47 -%></p>
      <p><%- privacy.text48 -%></p>
      <p><%- privacy.text49 -%></p>
      <p><%- privacy.text50 -%></p>
      <h4><%- privacy.HF15 -%></h4>
      <p><%- privacy.text51 -%></p>
      <p><%- privacy.text52 -%></p>
      <h4><%- privacy.HF16 -%></h4>
      <p><%- privacy.text53 -%></p>
      <h4><%- privacy.HF17 -%></h4>
      <p><%- privacy.text54 -%></p>
      <h4><%- privacy.HF18 -%></h4>
      <p><%- privacy.text55 -%></p>

    </div>
  </main>

  <%- include('../patiles/footer'); -%>

  <script src="/dist/js/popup/index.js" type="module"></script>
</body>

</html>