<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title><%= aiAttractivenessTest.title %></title>
    <meta
      name="description"
      content=" <%= aiAttractivenessTest.description %> "
    />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0,minimal-ui,viewport-fit=cover"
    />
    <link rel="icon" href="/dist/img/FS-favicon.ico" />
    <link rel="stylesheet" href="/dist/css/ai-attractiveness-test.css" />
    <link rel="canonical" href="https://es.vidqu.ai/test-de-belleza.html" />
    <link
      rel="alternate"
      hreflang="en"
      href="https://www.vidqu.ai/ai-attractiveness-test.html"
    />
    <link
      rel="alternate"
      hreflang="es"
      href="https://es.vidqu.ai/test-de-belleza"
    />
    <link
      rel="alternate"
      hreflang="de"
      href="https://de.vidqu.ai/schoenheits-test.html"
    />
    <link
      rel="alternate"
      hreflang="x-default"
      href="https://www.vidqu.ai/ai-attractiveness-test.html"
    />
    <%- include('../patiles/head'); -%>
  </head>

  <body>
    <%- include('../patiles/header'); -%>
    <main>
      <div class="ai-attractiveness-test">
        <div id="attractiveness_h1" class="attractiveness_h1">
          <h1 class="ai-attractiveness-test-h1">
            <%= aiAttractivenessTest.h1 %>
          </h1>
          <p class="ai-attractiveness-test-p">
            <%= aiAttractivenessTest.tips %>
          </p>
        </div>
        <div id="attractiveness_container" class="main_content">
          <div class="upload_step">
            <div class="multi_upload">
              <div class="other_box">
                <div class="header">
                  <h6 class="step"><%= aiAttractivenessTest.step1 %></h6>
                  <p class="step_tips pc_show">
                    <%= aiAttractivenessTest.step1_tips %>
                  </p>
                  <p class="step_tips mobile_show">
                    <%= aiAttractivenessTest.step1_tips_m %>
                  </p>
                </div>
                <input
                  type="file"
                  accept=".jpg, .png, .webp, .jpeg"
                  class="multi_uploader_multi"
                  style="display: none"
                />
                <div class="multi_upload_before">
                  <div class="multi_uploader_btn">
                    <div class="divImgback"></div>
                    <!-- <img src="/dist/img/ai-attractiveness-test/icon_photo.png" class="wh21 show1" />
                    <img src="/dist/img/ai-attractiveness-test/icon_photo11111.png" class="wh21 show2 imgnone" /> -->
                    <span class="multi_uploader_btn_con">
                      <%= aiAttractivenessTest.click_upload %>
                    </span>
                    <span
                      class="multi_uploader_btn_loading"
                      style="display: none"
                    >
                      <img
                        src="/dist/img/ai-attractiveness-test/icon_laoding_small.png"
                      />
                    </span>
                  </div>
                  <p class="pc_show"><%= aiAttractivenessTest.step1_h2 %></p>
                  <p class="mobile_show ydtext">
                    <%= aiAttractivenessTest.step1_h2_m %>
                  </p>
                </div>
                <div class="multi_upload_after" style="display: none">
                  <div class="multi_img">
                    <img id="multi_img" />
                  </div>
                  <div class="multi_Input">
                    <span class="multi_uploader_btn_con flex">
                      <div class="divImgback"></div>
                      <!-- <img src="/dist/img/ai-attractiveness-test/icon_photo.png" class="wh21 show1" />
                      <img src="/dist/img/ai-attractiveness-test/icon_photo11111.png" class="wh21 show2 imgnone" /> -->
                      <block class="change_image_text marginL15">
                        <%= aiAttractivenessTest.change_image %>
                      </block>
                    </span>
                    <span
                      class="multi_uploader_btn_loading"
                      style="display: none"
                    >
                      <img
                        src="/dist/img/ai-attractiveness-test/icon_laoding_small.png"
                      />
                    </span>
                  </div>
                </div>
                <div class="bottomborder"></div>
              </div>
              <div class="drag_loadbox" style="display: none">
                <div class="uploader_loading_mask mask3"></div>
              </div>
            </div>
            <!-- {* step2 *} -->
            <div class="step_container step2">
              <div class="header">
                <h6 class="step"><%= aiAttractivenessTest.step2 %></h6>
                <p class="step_tips step2">
                  <%= aiAttractivenessTest.step2_tips %>
                </p>
              </div>
              <div class="test_box"></div>
              <div class="bottomborder marginbt18"></div>
            </div>
            <!-- {* step3 *} -->
            <div class="step_container start_change">
              <div class="header">
                <h6 class="step step_num3">
                  <%= aiAttractivenessTest.step3 %>
                </h6>
                <p class="step_tips step3">
                  <%= aiAttractivenessTest.step3_tips %>
                </p>
              </div>
              <div class="change_multi_face_btn disabled">
                <span class="_multi_step3_btn">
                  <%= aiAttractivenessTest.step3_btn %>
                </span>
                <div class="multi-generating-animate" style="display: none">
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
            <input
              type="file"
              id="multi_uploader"
              accept=".jpg, .jpeg, .png, .webp"
              style="display: none"
            />
          </div>
          <div class="img_address">
            <div class="img_url">
              <img
                id="main_face_change_img"
                src="/dist/img/ai-attractiveness-test/banner1.png"
              />
              <div class="loading_multi_box" style="display: none">
                <img
                  src="/dist/img/ai-attractiveness-test/icon_laoding_big.png"
                  class="imgloading"
                />
                <div class="submitLoadingbox" style="display: none">
                  <div class="item bg1"></div>
                  <div class="item bg2"></div>
                  <div class="item bg3"></div>
                  <div class="item bg4"></div>
                </div>
                <p class="rightloading"><%= aiAttractivenessTest.Loading %></p>
              </div>
            </div>
            <div class="final_img_url" id="final_img_url">
              <div class="final_img_url_box">
                <img
                  crossorigin="anonymous"
                  id="main_final_img"
                  src="/dist/img/ai-attractiveness-test/banner.png"
                />
                <div class="score_test_box">
                  <h4><%= aiAttractivenessTest.res %></h4>
                  <div class="test_score">
                    <svg id="score_prograss" style="display: none">
                      <defs>
                        <linearGradient
                          id="linear1"
                          x1="0%"
                          y1="0%"
                          x2="100%"
                          y2="0%"
                        >
                          <stop offset="0%" stop-color="#281FAE" />
                          <stop offset="100%" stop-color="#281FAE" />
                        </linearGradient>
                      </defs>
                      <circle
                        cx="125"
                        cy="73"
                        r="60"
                        stroke="#fff"
                        stroke-width="12"
                        fill="none"
                        stroke-dasharray="213"
                        stroke-dashoffset="238"
                        stroke-linecap="round"
                      />

                      <circle
                        class="circle_prograss"
                        cx="125"
                        cy="73"
                        r="60"
                        stroke="url(#linear1)"
                        stroke-width="12"
                        fill="none"
                        stroke-dasharray="140 188"
                        stroke-dashoffset="-188"
                        stroke-linecap="round"
                      />
                    </svg>
                    <svg
                      id="score_prograss_m"
                      viewBox="-50 -10 401 401"
                      style="display: none"
                    >
                      <defs>
                        <linearGradient
                          id="linear3"
                          x1="0%"
                          y1="0%"
                          x2="100%"
                          y2="0%"
                        >
                          <stop offset="0%" stop-color="#281FAE" />
                          <stop offset="100%" stop-color="#281FAE" />
                        </linearGradient>
                      </defs>
                      <circle
                        cx="150"
                        cy="73"
                        r="60"
                        stroke="#fff"
                        stroke-width="12"
                        fill="none"
                        stroke-dasharray="213"
                        stroke-dashoffset="238"
                        stroke-linecap="round"
                      />

                      <circle
                        class="circle_prograss"
                        cx="150"
                        cy="73"
                        r="60"
                        stroke="url(#linear3)"
                        stroke-width="12"
                        fill="none"
                        stroke-dasharray="140 188"
                        stroke-dashoffset="-188"
                        stroke-linecap="round"
                      />
                    </svg>
                    <span>0</span>
                  </div>
                  <p class="face_score">
                    <%= aiAttractivenessTest.face_score %>
                  </p>
                  <p class="face_score_text"></p>
                  <p class="age_prediction">
                    <%= aiAttractivenessTest.age_prediction %>：<span>0</span>
                  </p>
                </div>
              </div>
              <ul class="score_ul" id="score_ul"></ul>
              <img src="/dist/img/watermarker.png" id="water_marker" />
            </div>
            <!-- style="display: none" -->
            <div class="multi_img_btns" style="display: none">
              <div class="multi_img_btns_group">
                <div class="img_btn large_multi_image pc_show left">
                  <img
                    src="../dist/img/ai-attractiveness-test/icon_zoom-in.png"
                    alt=""
                    class="wh12"
                  />
                  <p class="pc_show titles marginl21">
                    <%= aiAttractivenessTest.large %>
                  </p>
                </div>
              </div>
              <div class="multi_img_btns_group group_mobile">
                <div class="img_btn share_multi_btn left">
                  <img
                    src="../dist/img/ai-attractiveness-test/icon_share.png"
                    alt=""
                    class="wh12"
                  />

                  <p class="pc_show titles marginl10">
                    <%= aiAttractivenessTest.share %>
                  </p>
                </div>
                <div
                  class="img_btn download_multi_btn margin_download_btn_mobile left"
                >
                  <img
                    src="../dist/img/ai-attractiveness-test/icon_download.png"
                    alt=""
                    class="wh12"
                  />
                  <p class="pc_show titles marginl10">
                    <%= aiAttractivenessTest.download %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- {* our pics *} -->
      <div class="ex_pics" id="multi_pics">
        <div class="multi_pics_tips">
          <div class="titlebox">
            <b class="title1">
              <%= aiAttractivenessTest.inspiration_title %>
            </b>
            <span class="title2">
              <%= aiAttractivenessTest.inspiration %>
            </span>
          </div>
          <ul class="multi_pics"></ul>
        </div>
      </div>
    </main>
    <div id="large_multi_face_modal">
      <div class="multi_close_btn">
        <img src="/dist/img/face-swap/icon_close.png" />
      </div>
      <div id="final_img_url_large"></div>
      <div class="multi_img_btns">
        <div class="large_group">
          <div class="img_btn share_multi_btn wh138">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="37"
              height="37"
              viewBox="0 0 37 37"
            >
              <defs>
                <clipPath id="clip-path_share">
                  <rect
                    width="37"
                    height="37"
                    transform="translate(0.188)"
                    fill="currentColor"
                    stroke="#707070"
                    stroke-width="1"
                  />
                </clipPath>
              </defs>
              <g transform="translate(-0.188)">
                <g id="icon_share" clip-path="url(#clip-path_share)">
                  <path
                    d="M29.23,15.88a6.906,6.906,0,0,1-5.136-2.3L16.3,18.1a7.691,7.691,0,0,1,.328,2.037,7.483,7.483,0,0,1-.765,3.222l7.505,4.368a7.131,7.131,0,1,1-1.094,3.816,5.644,5.644,0,0,1,.073-.778L13.82,25.841l.036-.037a6.758,6.758,0,0,1-4.225,1.48,7.129,7.129,0,0,1-.037-14.255,6.9,6.9,0,0,1,5.137,2.295l7.8-4.517A7.678,7.678,0,0,1,22.2,8.77,7.014,7.014,0,1,1,29.23,15.88Zm0,19.958a4.259,4.259,0,1,0-4.189-4.258A4.225,4.225,0,0,0,29.23,35.838ZM9.593,15.88a4.259,4.259,0,1,0,4.19,4.258,4.224,4.224,0,0,0-4.19-4.258ZM29.23,4.475a4.259,4.259,0,1,0,4.19,4.258A4.224,4.224,0,0,0,29.23,4.475Zm0,0"
                    transform="translate(-0.709 -1.624)"
                    fill="currentColor"
                  />
                </g>
              </g>
            </svg>

            <p class="pc_show"><%= aiAttractivenessTest.share %></p>
          </div>
          <div
            class="img_btn download_multi_btn wh138"
            style="margin-left: 6px"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="25"
              height="25"
              viewBox="0 0 25 25"
              class="icon_download"
            >
              <defs>
                <clipPath id="icon_download3">
                  <rect
                    width="25"
                    height="25"
                    transform="translate(1002 846)"
                    fill="#39325a"
                    stroke="currentColor"
                    stroke-width="1"
                  />
                </clipPath>
              </defs>
              <g
                id="icon_download"
                transform="translate(-1002 -846)"
                clip-path="url(#icon_download3)"
              >
                <path
                  d="M22.614,14.6l-4.939,4.939V4.153a1.476,1.476,0,0,0-2.953,0V19.538L9.786,14.6A1.476,1.476,0,0,0,7.7,16.687l7.458,7.458a1.437,1.437,0,0,0,.485.32c.006,0,.016,0,.022.006a1.44,1.44,0,0,0,1.077,0c.006,0,.016,0,.022-.006a1.52,1.52,0,0,0,.485-.32l7.458-7.458A1.477,1.477,0,0,0,22.614,14.6Zm1.042,10.125H8.741a1.476,1.476,0,1,0,0,2.953H23.657a1.476,1.476,0,1,0,0-2.953Z"
                  transform="translate(998.299 843.323)"
                  fill="currentColor"
                />
              </g>
            </svg>
            <p class="pc_show"><%= aiAttractivenessTest.download %></p>
          </div>
        </div>
      </div>
    </div>
    <share-dialog id="shareDialogEl" fromPage="face-swap"></share-dialog>
    <%- include('../patiles/footer'); -%>
    <script src="/dist/js/html2canvas.min.js?t={$smarty.now}"></script>
    <script src="/dist/js/bottom-message/index.js" type="module"></script>
    <script
      src="/dist/js/share-dialog/index.js?t={$smarty.now}"
      type="module"
    ></script>
    <script src="/dist/js/face-api.min.js?t={$smarty.now}"></script>
    <script src="/dist/js/popup/index.js" type="module"></script>
    <script
      src="/dist/js/ai-attractiveness-test.js?t={$smarty.now}"
      type="module"
    ></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-07XRJGM504"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-07XRJGM504");
    </script>
  </body>
</html>
